@using PoundPupLegacy.Services;
@inject ISiteDataService siteDataService
@{
    Layout = "";
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script src="/js/editor.js"></script>
    <title>FileBrowse</title>
</head>
<body>
    <div id="editor"></div>
    <script>
        Editor.initialize('#editor', '@Context.Request.Host');
        Editor.destroy('#editor');
    </script>
</body>
</html>
