html {
    display: block;
}

body {
    width: 100%;
    background-color: #1e1e1e;
    color: gainsboro;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: 350;
    margin: 0;
    padding: 0;
}
header {
    border-bottom: solid thin silver;
    background-color: #2c2c2c;
    margin: 0;
    text-align: center;
}

header .logo{
    margin-right: 1em;
}

header .logo .acronym{
    font-size: 200%;
    font-weight: bold;
}

header .title {
    display: flex;
    justify-content: center;
}

header .subtitle {
    font-family: BhuTuka Expanded One;
    font-size: 110%;
    font-weight: bold;
    margin-top: 1em;
}

footer {
    border-top: solid thin silver;
    border-bottom: solid thin silver;
    padding-left: 1em;
    background-color: #2c2c2c;
}
footer ul {
    margin: 0;
    padding-top: 1em;
    padding-left: 1em;
}
footer ul li a {
    color: silver;
    text-decoration: none;
}

.main{
    display: flex;
}
nav{
    border-right: solid 1px #555;
}
nav ul {
    list-style-type: none;
    margin:0;
    padding:0;
}
nav ul a {
    color: silver;
    text-decoration: none;
}
nav ul li {
    border-bottom: solid 1px #555;
    padding-left: 0.25em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-right: 0.25em;
}
nav ul li:hover {
    background-color: #3d3d3d;
}

content{
    padding-left: 1em;
    min-height: 50em;
}