@using PoundPupLegacy.Services;
@using Microsoft.AspNetCore.Components
@inject ISiteDataService siteDataService
@inject IUserService userService
@{
    ViewData["Title"] = "Home Page";
}
<div class="breadcrum">&nbsp;</div>
<article>
<p>Welcome to Pound Pup Legacy</p>
</article>
@{
    var userId = userService.GetUserId(Context.User);
    var tenantId = siteDataService.GetTenantId(Context.Request);

    Layout = siteDataService.GetLayout(userId, tenantId);
 
}
