@using PoundPupLegacy.Services;
@using Microsoft.AspNetCore.Components
@using PoundPupLegacy.Views.Shared
@inject ISiteDataService siteDataService
@{
    ViewData["Title"] = "Home Page";
}
<p>Welcome to Pound Pup Legacy</p>

@{
    Layout = siteDataService.GetLayout();
 
}
