@using PoundPupLegacy.Services;
@using Microsoft.AspNetCore.Components
@inject ISiteDataService siteDataService
@{
    ViewData["Title"] = "Home Page";
}
<div class="breadcrum">&nbsp;</div>
<article>
<p>Welcome to Pound Pup Legacy</p>
</article>
@{
    Layout = siteDataService.GetLayout();
 
}
