@using PoundPupLegacy.ViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Comment>
@{
    <div class="comments">
        @foreach (var comment in @Model)
        {
            <partial name="_Comment" model="@comment" />
        }
    </div>
}
