.collapsed {
    position: absolute;
    right: 0;
}
.active-users {
    position: absolute;
    right:0;
}
.user-list {
    padding-left: 1px;
    padding-bottom: 1px;
    background-color: var(--footer-bg-color);
    color: silver;
}
.inner {
    padding-bottom: 0.15em;
    border-left: solid thin silver;
    border-right: solid thin silver;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.5em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 0.5em;
    padding-right: 0.5em;
    user-select: none;
    border-left: solid thin #686868;
    border-bottom: solid 1px #686868;
}
h4 {
    background-color: var(--breadcrum-bg-color);
    color: var(--breadcrum-color);
    margin: 0;
    padding: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.25em;
    user-select: none;
    cursor: pointer;
}
.active-users h4 {
    border-left: solid 1px var(--breadcrum-accent-color);
}