<div class="breadcrum">
    <div class="breadcrum-elements">
    @foreach (var element in @Model)
    {
        <span class="breadcrum-element">
            <a href="@element.Path">@element.Title</a>
        </span>
    }
    </div>
    <ActiveUserViewer />
</div>
@code{
    [Parameter]
    [EditorRequired]
    public IEnumerable<Link> Model { get; set; } = Array.Empty<Link>();
}