<div class="labeled-value labeled-string-value">
    <label>@Label: </label>
    @Value
</div>
@code {
    [Parameter]
    [EditorRequired]
    public DateTime Value { get; set; } 

    [Parameter]
    [EditorRequired]
    public string Label { get; set; } = string.Empty;
}
