@if (Value.HasValue)
{
    <div class="labeled-value labeled-boolean-value">
        <label>@Label: </label>
        @Value.Value
    </div>
}
@code {
    [Parameter]
    [EditorRequired]
    public required bool? Value { get; init; }

    [Parameter]
    [EditorRequired]
    public required string Label { get; init; }

}
