<div class="labeled-value labeled-link-value">
    <label>@Label: </label>
    <LinkViewer Link="Value"/>
</div>
@code {
    [Parameter]
    [EditorRequired]
    public Link Value { get; set; } = default!;

    [Parameter]
    [EditorRequired]
    public string Label { get; set; } = string.Empty;
}
