@using PoundPupLegacy.Common;
@if(Value is not null)
{
    <div class="labeled-value labeled-fuzzy-date-value">
        <label>@Label: </label>
        @Value.ToDisplayString()
    </div>
}
@code {
    [Parameter]
    [EditorRequired]
    public FuzzyDate? Value { get; set; } 

    [Parameter]
    [EditorRequired]
    public string Label { get; set; } = string.Empty;
}
