<div class="labeled-value labeled-decimal-value">
    <label>@Label: </label>
    @Value
</div>
@code {
    [Parameter]
    [EditorRequired]
    public decimal Value { get; set; }

    [Parameter]
    [EditorRequired]
    public string Label { get; set; } = string.Empty;

}
