@using PoundPupLegacy.Common;
@if(Value is not null)
{
    <div class="labeled-value labeled-fuzzy-date-value">
        <label>@Label: </label>
        @Value.ToDisplayString()
    </div>
}
@code {
    [Parameter]
    [EditorRequired]
    public required FuzzyDate? Value { get; init; }

    [Parameter]
    [EditorRequired]
    public required string Label { get; init; }
}
