<div class="labeled-value labeled-decimal-value">
    <label>@Label: </label>
    @Value
</div>
@code {
    [Parameter]
    [EditorRequired]
    public required decimal Value { get; init; }

    [Parameter]
    [EditorRequired]
    public required string Label { get; init; }

}
