<div class="labeled-value labeled-boolean-value">
    <label>@Label: </label>
    @Value
</div>
@code {
    [Parameter]
    [EditorRequired]
    public bool Value { get; set; }

    [Parameter]
    [EditorRequired]
    public string Label { get; set; } = string.Empty;

}
