@if (Value.HasValue)
{
    <div class="labeled-value labeled-int-value">
        <label>@Label: </label>
        @Value.Value
    </div>
}
@code {
    [Parameter]
    [EditorRequired]
    public int? Value { get; set; }

    [Parameter]
    [EditorRequired]
    public string Label { get; set; } = string.Empty;

}
