@if (Links.Any())
{
    <div class="labeled-value labeled-link-list">
        <label>@Label:</label>
        <LinkListViewer Links="@Links" />
    </div>
}
@code{
    [Parameter]
    [EditorRequired]
    public required IEnumerable<Link> Links { get; init; }

    [Parameter]
    [EditorRequired]
    public required string Label { get; init; }
}