@using PoundPupLegacy.ViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Comment
@{
    var ModelClassName = Model.NodeStatusId == 1 ? "comment comment-unpublished" : "comment";
    <div class="@ModelClassName">
        @if (Model.NodeStatusId == 1)
        {
            <div class="watermark-inner">
                <div class="watermark-body">Unpublished</div>
            </div>
        }
        <div class="comment-body">
            <div class="title">
                <h2>@Model.Title</h2>
            </div>
            <div class="comment-content">
                <partial name="_Authoring.cshtml" model="Model.Authoring" />
                <div class="text">
                    @Html.Raw(Model.Text.Replace(@"href=""http://poundpuplegacy.org", @"href="""))
                </div>
            </div>
        </div>
        @if (Model.Comments is not null)
        {
            <div class="Models">
                @foreach (var child in Model.Comments)
                {
                    <partial name="_Comment.cshtml", model="@child" />;
                }
            </div>
        }
    </div>
}
