@using PoundPupLegacy.ViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<DocumentListItem>
<div class="section">
    <h3>Documents</h3>
    <table style="margin-bottom:1em;">
        @foreach(var document in Model.OrderBy(x => x.SortOrder)){
        <tr>
            <td><a href="@document.Path">@document.Title</a></td>
            <td>@document.PublicationDate</td>
        </tr>
        }
    </table>
</div>

