@using PoundPupLegacy.ViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<File>

@if (Model.Any())
{
    <div class="files">
        @foreach(var elem in Model)
        {
            <div class="file">
                <a href="@elem.Path">@elem.Name</a> (@elem.Size Bytes)
            </div>
        }
    </div>
}
