<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PoundPupLegacy</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Rosario:wght@515&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=BhuTuka+Expanded+One&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Marck+Script&amp;display=swap" rel="stylesheet">
    <link href="/css/ppl.css" rel="stylesheet" type="text/css" asp-append-version="true" />
</head>
<body>

    <header>
        <div class="title">
            <div class="logo">
                <div class="acronym">PPL</div>
                <div class="full-name">
                    Pound Pup Legacy
                </div>
            </div>
            <div>
                <div class="subtitle">exposing the dark side of adoption</div>
            </div>
        </div>
    </header>
    <div class="main">
        <nav>
            <ul>
                <a href="/">
                <li>
                    Home
                </li>
                </a>
                @Html.Raw(@Context.Items["UserMenu"])
            @if (this.User.Identity!.IsAuthenticated == false)
            {
                <li>
                    <form id="login-form" action="/login" method="post">
                        <input type="text" name="user"></input>
                        <input type="password" name="password"></input>
                        <br/>
                        <input type="submit" value="login"></input>
                    </form>
                </li>
            }
            else
            {
               
                <li>
                    <form id="login-form" action="/logout" method="post">
                        <input type="submit" value="logout"></input>
                    </form>
                </li>
            }
            </ul>
        </nav>
        <content>
            @RenderBody()
        </content>
    </div>
    <footer>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="/about_us">About Us</a>
            </li>
            <li>
                <a href="/our_position">Our Position </a>
            </li>
            <li>
                <a href="/faq">FAQ</a>
            </li>
            <li>
                <a href="/ways_to_help">Ways to help</a>
            </li>
            <li>
                <a href="/contact">Contact</a>
            </li>
        </ul>
        <h2>Pound Pup Legacy</h2>
    </footer>

</body>
</html>
