@using PoundPupLegacy.ViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<Link>

@if (Model.Any())
{
    <h3>Organization types</h3>
    <div class="organization-types">
        @foreach (var link in Model)
        {
            <div><partial name="_Link" model="@link" /></div>
        }
    </div>
}
