@using PoundPupLegacy.ViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model PagedList
<div class="pager">
    @if (Model.PageNumber > 1)
    {
        <span class="first"><a href="/@Model.Path?@Model.GetQueryString(1)">« first</a></span>
        <span class="previous"><a href="/@Model.Path?@Model.GetQueryString(Model.PageNumber-1)">‹ previous</a></span>
    }
    @foreach (var i in Enumerable.Range(Model.StartPage(), Model.EndPage() - Model.StartPage()))
    {
        if (Model.PageNumber == i)
        {
            <span class="pager-entry"><a href="/@Model.Path?@Model.GetQueryString(i)"><strong>@i</strong></a></span>
        }
        else
        {
            <span class="pager-entry"><a href="/@Model.Path?@Model.GetQueryString(i)">@i</a></span>
        }

    }
    @if (Model.PageNumber < Model.NumberOfPages)
    {
        <span class="next"><a href="/@Model.Path?@Model.GetQueryString(Model.PageNumber+1)">next ›</a></span>
        <span class="last"><a href="/@Model.Path?@Model.GetQueryString(Model.NumberOfPages)">last »</a></span>
    }
</div>

@{
}
