@using PoundPupLegacy.ViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<PartyCaseType>
@if (Model.Any())
{
    <div class="cases">
        @foreach (var partyCaseType in Model)
        {
            <h3>
                @partyCaseType.CaseTypeName
            </h3>
            <ul>
                @foreach (var partyCase in partyCaseType.PartyCases)
                {
                    <h4>@partyCase.CasePartyTypeName</h4>
                    @foreach (var @cace in partyCase.Cases)
                    {
                        <li><a href="@cace.Path">@cace.Name</a></li>
                    }
                }
            </ul>
        }
    </div>
}