@using PoundPupLegacy.ViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<PollQuestion> 
@if (Model.Any()){
    <div class="poll-questions" style="margin-top:1em;">
    @foreach(var question in Model)
    {
        <div class="poll-question" style="margin-bottom:1em;">
            @Html.Raw(question.Text)
            <partial name="_PollOptions" model="@question.PollOptions" />
        </div>
    }
    </div>
}