@using PoundPupLegacy.ViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<PollOption>

@if(Model.Any())
{
    @foreach(var option in Model.OrderBy(x => x.Delta))
    {
        <div style="width: 70%;margin-bottom:0.5em;">
            <label>@option.Text</label>
            <span style="display: grid; grid-template-columns: @option.Percentage% auto;background-color:lightgray">
                <div style="background-color: dimgrey">&nbsp;</div>
                <div class="vote_no_score">&nbsp;</div>
                
            </span>
            <div>@option.Percentage% <span>(@option.NumberOfVotes votes)</span></div>
            
        </div>
    }
}