@using PoundPupLegacy.ViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model IEnumerable<SubdivisionType>

<div class="section">
    <h3>Subdivisions</h3>
    @foreach (var subdivisioonType in Model)
    {
        <div>
            @subdivisioonType.Name
        </div>
        <ul>
            @foreach (var subdivision in subdivisioonType.Subdivisions)
            {
                <li>
                    <a href="@subdivision.Path">@subdivision.Name</a>
                </li>
            }
        </ul>
    }
</div>
