@using PoundPupLegacy.ViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Subdivision
@if (Model is FormalSubdivision formalSubdivision)
{
    <div>
        <label>ISO 3166-1 code</label>
        @formalSubdivision.ISO3166_2_Code
    </div>
}
@if (Model.SubdivisionTypes is not null)
{
    <partial name="_SubdivisionTypes" model="@Model.SubdivisionTypes" />
}
@if (Model.OrganizationTypes is not null)
{
    <partial name="_OrganizationTypesWithOrganizations" model="@Model.OrganizationTypes" />
}
@if (Model.Documents is not null)
{
    <partial name="_Documents" model="@Model.Documents" />
}
