@using PoundPupLegacy.EditModel;
@using PoundPupLegacy.Services;
@inject IHttpContextAccessor httpContextAccessor;
@inject IEditorService editorService;
@inject ILogger<BlogEditor> logger;
@inject NavigationManager navigationManager;
@inject IJSRuntime JSRuntime

<h3>BlogEditor</h3>

@{
    var url = $"https://{httpContextAccessor.HttpContext!.Request.Host.Value}/image/upload";
}

@if (blogPost is not null)
{
    <style>
        .title-editor {
            width: 100%;
            font-size: 2em;
            font-weight: bold;
            border: none;
            border-bottom: 1px solid black;
            padding: 0.5em;
            margin-bottom: 1em;
        }
    </style>
    <EditForm Model="@blogPost" OnSubmit="@HandleSubmit">
        <InputText class="title-editor" id="name" @bind-Value="blogPost.Title" />
        <CKEditor Id="#editor"
              @bind-Value=@blogPost.Text
            UrlToPostImage=@url>
        </CKEditor>
        <Tags Elems="@blogPost.Tags" NodeId="@blogPost.NodeId"/>
        <button type="submit">Submit</button>
    </EditForm>
}
@code {
    BlogPost? blogPost;


    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        blogPost = await editorService.GetBlogPost(Id);
    }

    private async Task HandleSubmit()
    {
        logger.LogInformation(blogPost!.ToString());
        await editorService.Save(blogPost);
        await JSRuntime.InvokeVoidAsync("location.reload");

    }

}
