@using PoundPupLegacy.Services
@using PoundPupLegacy.ViewModel.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Cases
@inject ISiteDataService siteDataService
@inject IUserService userService
@{
    var userId = userService.GetUserId(Context.User);
    var tenantId = siteDataService.GetTenantId(Context.Request);
}
<style>
    .case-type{
        display: grid;
        grid-template-columns: 1fr 3fr;
        border-bottom: solid thin gray;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
    }
</style>
<div class="article-with-comments">

    <div class="breadcrum">
        <span class="breadcrum-element">
            <a href="/home">home</a>
        </span>
    </div>
    
    <article>
        <h1>Cases</h1>
        <div>
            <div class="case-type">
                <a href="/abuse_cases">Abuse cases</a>
                <div>
                    The assumption behind child-placement is that the safety and living conditions of a child improve. These cases demonstrate that this assumption is often invalid.
                </div>
            </div>
            <div class="case-type">
                <a href="/child_trafficking_cases">Child trafficking cases</a>
                <div>
                    There is often a fine line between adoption and child trafficking. In many cases this line is being crossed.
                </div>
            </div>
            <div class="case-type">
                <a href="/disrupted_placement_cases">Disrupted placement cases</a>
                <div>
                    Although the adoptive family is called the "forever family" by the adoption industry, adoptions can end in disruption. These cases demonstrate that the "forever family" is sometimes only temporary.
                </div>
            </div>
            <div class="case-type">
                <a href="/deportation_cases">Deportation cases</a>
                <div>
                    Adoptions before 1997, didn't automatically lead to naturalization. As result, people adopted from outside the outside US that ran into problems with the justice system face deportation to their country of birth.
                </div>
            </div>
            <div class="case-type">
                <a href="/coerced_adoption_cases">Coerced adoption cases</a>
                <div>
                    Adoption is assumed to be the result of a choice made by the parents of the child. These cases demonstrate women are pressured to give up their children.
                </div>
            </div>
            <div class="case-type">
                <a href="/wrongful_removal_cases">Wrongful removal cases</a>
                <div>
                    Lorum ipsum.
                </div>
            </div>
            <div class="case-type">
                <a href="/wrongful_medication_cases">Wrongful medication cases</a>
                <div>
                    Lorum ipsum.
                </div>
            </div>
            <div class="case-type">
                <a href="/fathers_rights_violation_cases">Father's right violation cases</a>
                <div>
                    Lorum ipsum.
                </div>
            </div>
        </div>

        <div class="blog-teasers">
            
            @foreach(var entry in Model.CaseListEntries)
            {
                <div class="blog-teaser">
                @if (!entry.HasBeenPublished)
                {
                    <div class="watermark">Unpublished</div>
                }
                
                <h2>
                    <a href="@entry.Path">@entry.Title</a>
                </h2>
                @Html.Raw(entry.Text)
                </div>
            }
        </div>
        <partial name="~/Views/Shared/_PagedList.cshtml" model="@Model" />
    </article>
</div>
@{
    Layout = siteDataService.GetLayout(userId, tenantId);
}
