@using PoundPupLegacy.Services
@using PoundPupLegacy.ViewModel.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Polls
@inject ISiteDataService siteDataService
@inject IUserService userService
@{
    var userId = userService.GetUserId(Context.User);
    var tenantId = siteDataService.GetTenantId(Context.Request);
}
@{
    <div class="articles">
        <div class="breadcrum">
            <span class="breadcrum-element">
                <a href="/home">home</a>
            </span>
        </div>
        <article>
        <div class="blog-teasers">
            @foreach (var entry in Model.Entries)
            {
                @if (!entry.HasBeenPublished)
                {
                    <div class="watermark">Unpublished</div>
                }
                <div class="blog-teaser">
                    <h2>
                        <a href="@entry.Path">@entry.Title</a>
                    </h2>
                    @Html.Raw(entry.Text)
                </div>
            }
        </div>
        </article>
        <partial name="~/Views/Shared/_PagedList.cshtml" model="@Model" />
    </div>
}
@{
    Layout = siteDataService.GetLayout(userId, tenantId);
}
