@using PoundPupLegacy.Services;
@using PoundPupLegacy.ViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SearchResult
@inject ISiteDataService siteDataService
@inject IUserService userService
@{
    var userId = userService.GetUserId(Context.User);
    var tenantId = siteDataService.GetTenantId(Context.Request);
}
<div class="blog-list">
    <article>
    @foreach(var entry in Model.Entries)
    {
        <div class="blog-teaser">
            <h2>
                <a href="@entry.Path">@entry.Title</a>
            </h2>
            @Html.Raw(entry.Teaser)
            <div style="clear:both"></div>
        </div>
    }
    </article>
    <partial name="~/Views/Shared/_PagedList.cshtml" model="@Model" />
</div>
@{
    Layout = siteDataService.GetLayout(userId, tenantId);
}