@using PoundPupLegacy.Services
@using PoundPupLegacy.Components
@using PoundPupLegacy.ViewModel.Models
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model SubgroupPagedList
@inject ISiteDataService siteDataService
@inject IUserService userService
@{
    var userId = userService.GetUserId(Context.User);
    var tenantId = siteDataService.GetTenantId(Context.Request);
}
<table>
    @foreach(var item in Model.Entries.OrderByDescending(x => x.Authoring.CreatedDateTime)) {
        <tr>
            <td>
                <a href="@item.Path">@item.Title</a>
            </td>
        </tr>
    }
</table>
@{
    Layout = siteDataService.GetLayout(userId, tenantId);
}

