@using PoundPupLegacy.Models
@using PoundPupLegacy.Services
@inject ICreateOptionsService CreateOptionsService
@inherits ViewerBase
<BreadCrumElementViewer Model="BreadCrumElements" />
<h1>Create content</h1>
@if(_model is not null) {
    <div class="create-options">
    @foreach(var elem in _model) {
        <div><a href="@elem.Path">@elem.Name</a></div>
        <div>@elem.Description</div>
    }
    </div>

}
@code {
    private List<CreateOption>? _model;

    protected override async Task OnInitializedAsync()
    {
        _model = await CreateOptionsService.GetCreateOptions(Tenant.Id, User.Id);
    }
}
