@using PoundPupLegacy.EditModel
@using PoundPupLegacy.Services
@inherits NodeEditor
@inject IEditService<Discussion> editService
@inject ILogger<DiscussionEditor> logger
@inject NavigationManager navigationManager
@inject IJSRuntime JSRuntime

@if (discussion is not null)
{
    <style>
        .title-editor {
            width: 100%;
            font-size: 2em;
            font-weight: bold;
            border: none;
            border-bottom: 1px solid black;
            padding: 0.5em;
            margin-bottom: 1em;
        }
    </style>
    <EditForm Model="@discussion" OnSubmit="@HandleSubmit">
        <InputText class="title-editor" id="name" @bind-Value="discussion.Title" />
        <CKEditor Id="#editor"
              @bind-Value=@discussion.Text
            UrlToPostImage=@url>
        </CKEditor>
        <Tags Elems="discussion.Tags" NodeId="discussion.NodeId"/>
        <TenantNodesEditor Node="@discussion" />
        <AttachmentEditor Files="discussion.Files" NodeId="discussion.NodeId"/>
        <button type="submit">Submit</button>
    </EditForm>
    
}
@code {
    Discussion? discussion;

    string url = "";

    protected override async Task OnInitializedAsync()
    {
        url = $"{navigationManager.BaseUri}image/upload";
        discussion = await editService.GetViewModelAsync(UrlId, UserId, TenantId);
        foreach(var tenant in discussion!.Tenants) 
        {
            var tenantNode = discussion.TenantNodes.FirstOrDefault(x => x.TenantId == tenant.Id);
            tenant.TenantNode = tenantNode;
        }
    }

    private async Task HandleSubmit()
    {
        logger.LogInformation(discussion!.ToString());
        await editService.SaveAsync(discussion);
        await JSRuntime.InvokeVoidAsync("reloadNode", discussion.UrlId);
    }

}
