footer {
    background-color: var(--footer-bg-color);
    flex-grow: 0;
}

::deep ul {
    margin: 0;
    margin-top: 0.5em;
    padding-left: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

::deep ul li {
    display: inline;
    margin-right: 0.5em;
    border-left: solid 2px #386fff;
    padding-left: 0.25em;
}

::deep ul li a {
    font-size: 90%;
    color: silver;
    text-decoration: none;
}

::deep h2 {
    font-size: clamp(32px, 6vw, 22px);
    color: #444;
    margin: 0.25em
}
