<footer>
    <LinkListViewer Links="MenuItems"/>
    <h2>@Name</h2>
</footer>

@code {
    [Parameter]
    [EditorRequired]
    public string Name { get; set; } = string.Empty;

    [Parameter]
    [EditorRequired]
    public Link[] MenuItems { get; set; } = Array.Empty<Link>();

}
