<footer>
    <LinkListViewer Links="MenuItems"/>
    <h2>@Name</h2>
</footer>

@code {
    [Parameter]
    [EditorRequired]
    public required string Name { get; init; }

    [Parameter]
    [EditorRequired]
    public required Link[] MenuItems { get; init; }

}
