<footer>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/about_us">About Us</a>
        </li>
        <li>
            <a href="/our_position">Our Position </a>
        </li>
        <li>
            <a href="/faq">FAQ</a>
        </li>
        <li>
            <a href="/ways_to_help">Ways to help</a>
        </li>
        <li>
            <a href="/contact">Contact</a>
        </li>
    </ul>
    <h2>Pound Pup Legacy</h2>
</footer>

@code {

}
