<header>
    <div class="logo">
        @LogoName
    </div>
    <div class="central-header">
        <div>
            <div class="subtitle">@Subtitle</div>
        </div>
        <form action="search">
            <input type="text" name="search_term" />
            <input type="hidden" name="search_option" value="contains" />
            <input type="submit" value="search" />
        </form>
    </div>
</header>

@code {
    [Parameter]
    [EditorRequired]
    public string LogoName { get; set; } = string.Empty;

    [Parameter]
    [EditorRequired]
    public string Subtitle { get; set; } = string.Empty;

}
