<header>
    <div class="logo">
        PPL
    </div>
    <div class="central-header">
        <div>
            <div class="subtitle">exposing the dark side of adoption</div>
        </div>
        <form action="search">
            <input type="text" name="search_term" />
            <input type="hidden" name="search_option" value="contains" />
            <input type="submit" value="search" />
        </form>
    </div>
</header>

@code {

}
