@using PoundPupLegacy.ViewModel.Models
@if (Links is not null && Links.Any())
{
    <h4>@Label</h4>
    <LinkListViewer Links="@Links" />
}
@code{
    [Parameter]
    public IEnumerable<Link>? Links { get; set; }

    [Parameter]
    public string? Label { get; set; }
}