@using PoundPupLegacy.Common
@if (Value.HasValue) {
    <div class="labeled-value labeled-string-value">
        <label>@Label: </label>
        @if(Format == DateTimeFormat.YearMonthAsTextDay) {
            @Value.Value.ToString("yyyy MMMM dd")
        }
    </div>
}
@code {
    [Parameter]
    [EditorRequired]
    public required DateTime? Value { get; init; }

    [Parameter]
    [EditorRequired]
    public required string Label { get; init; }

    [Parameter]
    [EditorRequired]
    public required DateTimeFormat Format {get; init;}
}
