@if(Value is not null) {
    <div class="labeled-value labeled-string-value">
        <label>@Label: </label>
        @Value
    </div>
}
@code {
    [Parameter]
    public string? Value { get; set; }

    [Parameter]
    public string? Label { get; set; }

}
