@if (Value.HasValue)
{
    <div class="labeled-value labeled-string-value">
        <label>@Label: </label>
        @Value
    </div>
}
@code {
    [Parameter]
    [EditorRequired]
    public int? Value { get; set; }

    [Parameter]
    public string? Label { get; set; }

}
