@using PoundPupLegacy.Common;
@if(Label is not null)
{
    <div>
        <label>@Label: </label>
        @Value.ToDisplayString()
    </div>
}
@code {
    [Parameter]
    [EditorRequired]
    public required FuzzyDate Value { get; init; }

    [Parameter]
    [EditorRequired]
    public required string Label { get; init; }
}
