@using PoundPupLegacy.Models
@using PoundPupLegacy.Services
@inject IListOptionsService ListOptionsService
@inherits ViewerBase
<div class="breadcrum">
    <span class="breadcrum-element">
        <a href="/">Home</a>
    </span>
</div>
<h1>List content</h1>
@if(_model is not null) {
    <div class="create-options">
    @foreach(var elem in _model) {
        <div><a href="@elem.Path">@elem.Name</a></div>
        <div>@elem.Description</div>
    }
    </div>

}
@code {
    private List<ListOption>? _model;

    protected override async Task OnInitializedAsync()
    {
        _model = await ListOptionsService.GetListOptions(TenantId, UserId);
    }
}
