.user-options img {
    height: 38px;
    width: auto;
    color: silver;
}
.user-options {
    display: flex;
}
.chats img{
}

.user-options > div {
    margin-right: 1em;
    cursor:pointer;
}
.unread-indicator {
    color: red;
    position: relative;
    font-size: 125%;
    top:-7px;
    right:35px;
}