@using PoundPupLegacy.Services
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NotFoundListener NotFoundListener
@inject ISiteDataService SiteDataService
@inject IUserService UserService

<PageTitle>Pound Pup Legacy</PageTitle>
<CascadingValue Value="UserId" Name="UserId">
    <CascadingValue Value="TenantId" Name="TenantId">
        <Header />
        <div class="main">
            <UserMenu />
            <content>
                @if (notFound)
                {
                    <NotFound />
                }
                else
                {
                    @Body
                }
            </content>
        </div>
        <Footer />
    </CascadingValue>
</CascadingValue>
@code{
    private int TenantId { get; set; }
    private int UserId { get; set; }

    private bool notFound;

    protected override void OnInitialized() => NotFoundListener.OnNotFound += SetNotFound;

    void SetNotFound()
    {
        notFound = true;
        StateHasChanged();
    }

    protected override async Task OnInitializedAsync()
    {
        var uri = new Uri(NavigationManager.Uri);
        TenantId = SiteDataService.GetTenantId(uri);

        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        if (authState.User.Identity is not null) 
        {
            UserId = UserService.GetUserId(authState.User);
        }
        else
        {
            UserId = 0;
        }
    }
}

