@using PoundPupLegacy.Services
@inherits Viewer
@inject ISiteDataService siteDataService
@inject IUserService userService
    

<NodeContentViewer Model="Model">

    @if (siteDataService.CanEdit(node: Model, userId: UserId, tenantId: TenantId))
    {
        @if (displayMode == DisplayMode.View)
        {
            <input class="tab-button" type="radio" name="tabs" id="tab1"checked />
        }
        else {
            <input class="tab-button" type="radio" name="tabs" id="tab1" @onclick="ToggleDisplayMode" />
        }
        <label for="tab1">View</label>
        @if (displayMode == DisplayMode.Edit)
        {
            <input class="tab-button" type="radio" name="tabs" id="tab2" checked />
        }
        else {
            <input class="tab-button" type="radio" name="tabs" id="tab2" @onclick="ToggleDisplayMode" />
        }
        <label for="tab2">Edit</label>
    }   
    <div class=" tab content1">
        <NodeDetailsViewer Model="Model" />
    </div>
    
    @if (siteDataService.CanEdit(node: Model, userId: UserId, tenantId: TenantId))
    {
        <div class="tab content2">
            <ArticleViewer>
                @if (Model is ViewModel.Models.BlogPost){
                    <NodeUpdater 
                        UrlId="Model.UrlId" 
                        TRead="EditModel.BlogPost"
                        TSave="EditModel.BlogPost"/>
                }
                @if (Model is ViewModel.Models.Discussion) {
                    <NodeUpdater 
                        UrlId="Model.UrlId" 
                        TRead="EditModel.Discussion"
                        TSave="EditModel.Discussion" />
                }
                @if (Model is ViewModel.Models.Document) {
                    <NodeUpdater 
                        UrlId="Model.UrlId" 
                        TRead="EditModel.Document"
                        TSave="EditModel.Document" />
                }
                @if (Model is ViewModel.Models.Organization) {
                    <NodeUpdater 
                        UrlId="Model.UrlId" 
                        TRead="EditModel.Organization"
                        TSave="EditModel.Organization" />
                }
                @if (Model is ViewModel.Models.Person) {
                    <NodeUpdater 
                        UrlId="Model.UrlId" 
                        TRead="EditModel.Person"
                        TSave="EditModel.Person" />
                }
                @if (Model is ViewModel.Models.AbuseCase) {
                    <NodeUpdater 
                        UrlId="Model.UrlId" 
                        TRead="EditModel.AbuseCase"
                        TSave="EditModel.AbuseCase" />
                }
                @if (Model is ViewModel.Models.ChildTraffickingCase) {
                    <NodeUpdater 
                        UrlId="Model.UrlId" 
                        TRead="EditModel.ChildTraffickingCase"
                        TSave="EditModel.ResolvedChildTraffickingCase" />
                }
                @if (Model is ViewModel.Models.CoercedAdoptionCase) {
                    <NodeUpdater 
                        UrlId="Model.UrlId" 
                        TRead="EditModel.CoercedAdoptionCase"
                        TSave="EditModel.CoercedAdoptionCase" />
                }
                @if (Model is ViewModel.Models.DeportationCase) {
                    <NodeUpdater 
                        UrlId="Model.UrlId" 
                        TRead="EditModel.DeportationCase"
                        TSave="EditModel.DeportationCase" />
                }
                @if (Model is ViewModel.Models.DisruptedPlacementCase) {
                    <NodeUpdater 
                        UrlId="Model.UrlId" 
                        TRead="EditModel.DisruptedPlacementCase"
                        TSave="EditModel.DisruptedPlacementCase" />
                }
                @if (Model is ViewModel.Models.FathersRightsViolationCase) {
                    <NodeUpdater 
                        UrlId="Model.UrlId" 
                        TRead="EditModel.FathersRightsViolationCase"
                        TSave="EditModel.FathersRightsViolationCase" />
                }
                @if (Model is ViewModel.Models.WrongfulMedicationCase) {
                    <NodeUpdater 
                        UrlId="Model.UrlId" 
                        TRead="EditModel.WrongfulMedicationCase" 
                        TSave="EditModel.WrongfulMedicationCase"/>
                }
                @if (Model is ViewModel.Models.WrongfulRemovalCase) {
                    <NodeUpdater 
                        UrlId="Model.UrlId" 
                        TRead="EditModel.WrongfulRemovalCase" 
                        TSave="EditModel.WrongfulRemovalCase" />
                }
            </ArticleViewer>
        </div>
    }
    <CommentsViewer Model="Model.Comments"/>
</NodeContentViewer>
@code{
    [Parameter]
    [EditorRequired]
    public ViewModel.Models.Node Model { get; set; } = default!;

    private DisplayMode displayMode = DisplayMode.View;

    private enum DisplayMode { View, Edit }

    private void ToggleDisplayMode()
    {
        displayMode = displayMode == DisplayMode.View ? DisplayMode.Edit : DisplayMode.View;
        StateHasChanged();
    }
}
