@using PoundPupLegacy.Services
@inherits Viewer
@inject ISiteDataService siteDataService
@inject IUserService userService
    

<NodeContentViewer Model="Model">

    @if (siteDataService.CanEdit(node: Model, userId: UserId, tenantId: TenantId))
    {
        @if (displayMode == DisplayMode.View)
        {
            <input class="tab-button" type="radio" name="tabs" id="tab1"checked />
        }
        else {
            <input class="tab-button" type="radio" name="tabs" id="tab1" @onclick="ToggleDisplayMode" />
        }
        <label for="tab1">View</label>
        @if (displayMode == DisplayMode.Edit)
        {
            <input class="tab-button" type="radio" name="tabs" id="tab2" checked />
        }
        else {
            <input class="tab-button" type="radio" name="tabs" id="tab2" @onclick="ToggleDisplayMode" />
        }
        <label for="tab2">Edit</label>
    }   
    <div class=" tab content1">
        <NodeDetailsViewer Model="Model" />
    </div>
    
    @if (siteDataService.CanEdit(node: Model, userId: UserId, tenantId: TenantId))
    {
        <CascadingValue Value="Model.NodeId" Name="NodeId">
        <div class="tab content2">
            <ArticleViewer>
                @if (Model is ViewModel.Models.BlogPost){
                    <BlogPostUpdater UrlId="Model.UrlId"/>
                }
                @if (Model is ViewModel.Models.Discussion) {
                    <DiscussionUpdater UrlId="Model.UrlId" />
                }
                @if (Model is ViewModel.Models.AbuseCase) {
                    <AbuseCaseUpdater UrlId="Model.UrlId" />
                }
                @if (Model is ViewModel.Models.Document) {
                    <DocumentUpdater UrlId="Model.UrlId" />
                }
                @if (Model is ViewModel.Models.ChildTraffickingCase) {
                    <ChildTraffickingCaseUpdater UrlId="Model.UrlId" />
                }
                @if (Model is ViewModel.Models.CoercedAdoptionCase) {
                    <CoercedAdoptionCaseUpdater UrlId="Model.UrlId" />
                }
                @if (Model is ViewModel.Models.DeportationCase) {
                    <DeportationCaseUpdater UrlId="Model.UrlId" />
                }
                @if (Model is ViewModel.Models.DisruptedPlacementCase) {
                    <DisruptedPlacementCaseUpdater UrlId="Model.UrlId" />
                }
                @if (Model is ViewModel.Models.FathersRightsViolationCase) {
                    <FathersRightsViolationCaseUpdater UrlId="Model.UrlId" />
                }
                @if (Model is ViewModel.Models.WrongfulMedicationCase) {
                    <WrongfulMedicationCaseUpdater UrlId="Model.UrlId" />
                }
                @if (Model is ViewModel.Models.WrongfulRemovalCase) {
                    <WrongfulRemovalCaseUpdater UrlId="Model.UrlId" />
                }
            </ArticleViewer>
        </div>
        </CascadingValue>
    }
    <CommentsViewer Model="Model.Comments"/>
</NodeContentViewer>
@code{
    [Parameter]
    [EditorRequired]
    public ViewModel.Models.Node Model { get; set; } = default!;

    private DisplayMode displayMode = DisplayMode.View;

    private enum DisplayMode { View, Edit }

    private void ToggleDisplayMode()
    {
        displayMode = displayMode == DisplayMode.View ? DisplayMode.Edit : DisplayMode.View;
        StateHasChanged();
    }
}
