@using PoundPupLegacy.ViewModel.Models
@if (Model is not null && Model.Any())
{
    <div class="cases">
        @foreach (var partyCaseType in Model)
        {
            <h3>
                @partyCaseType.CaseTypeName
            </h3>
            <ul>
                @foreach (var partyCase in partyCaseType.PartyCases)
                {
                    <h4>@partyCase.CasePartyTypeName</h4>
                    @foreach (var @cace in partyCase.Cases)
                    {
                        <li><a href="@cace.Path">@cace.Title</a></li>
                    }
                }
            </ul>
        }
    </div>
}
@code{
    [Parameter]
    [EditorRequired]
    public IEnumerable<PartyCaseType>? Model { get; set; }
}