@using PoundPupLegacy.Services
@using PoundPupLegacy.ViewModel.Models
@inherits PagedSearchViewer<PersonListEntry>
@inject ISiteDataService siteDataService
@inject IUserService userService
@inject IPersonService PersonService
@if(ListEntries is not null){
    <div class="articles">
        <div class="breadcrum">
            <span class="breadcrum-element">
                <a href="/home">home</a>
            </span>
        </div>
        <form>
            <select name="search_option">
                @if (PagedListSettings.SearchOption == SearchOption.Contains)
                {
                    <option value="contains" selected>contains</option>
                }
                else
                {
                    <option value="contains">contains</option>
                }
                @if (PagedListSettings.SearchOption == SearchOption.IsEqualTo) {
                    <option value="is_equal_to" selected>is equal to</option>
                }
                else
                {
                    <option value="is_equal_to">is equal to</option>
                }
                @if (PagedListSettings.SearchOption == SearchOption.StartsWith) {
                    <option value="starts_with" selected>starts with</option>
                }
                else
                {
                    <option value="starts_with">starts with</option>
                }
                @if (PagedListSettings.SearchOption == SearchOption.EndsWith) {

                    <option value="ends_with" selected>ends with</option>
                }
                else
                {
                    <option value="ends_with">ends with</option>
                }
            </select>
            <input type="text" name="search" value="@PagedListSettings.SearchTerm" />
            <input type="submit" value="Search" />
        </form>
        @if (ListEntries.Any())
        {
            @foreach (var organization in ListEntries)
            {
                <div>
                    <a href="@organization.Path">@organization.Title</a>
                </div>
            }
            <Pager Model="PagedListSettings" />
        }
        else
        {
            <p>No organizations were found</p>
    
        }
    </div>
}
@code {
    protected override int PageSize => 50;

    protected override async Task<IPagedList<PersonListEntry>> GetListEntriesAsync()
    {
        return await PersonService.FetchPersons(UserId, TenantId, PagedListSettings.PageSize, PagedListSettings.PageNumber, PagedListSettings.SearchTerm, PagedListSettings.SearchOption);
    }

}
