@using PoundPupLegacy.Services
@using PoundPupLegacy.ViewModel.Models
@inherits PagedViewer<PollListEntry>
@inject ISiteDataService siteDataService
@inject IUserService userService
@inject IFetchPollsService FetchPollsService

@if(ListEntries is not null){
    <div class="articles">
        <div class="breadcrum">
            <span class="breadcrum-element">
                <a href="/home">home</a>
            </span>
        </div>
        <article>
            @if (ListEntries.Any())
            {
                <div class="blog-teasers">
                    @foreach (var entry in ListEntries)
                    {
                        @if (!entry.HasBeenPublished)
                        {
                            <div class="watermark">Unpublished</div>
                        }
                        <div class="blog-teaser">
                            <h2>
                                <a href="@entry.Path">@entry.Title</a>
                            </h2>
                            <LargeTextViewer Value="@entry.Text" />
                        </div>
                    }
                </div>
        }
        </article>
        <Pager Model="PagedListSettings" />
    </div>
}

@code {

    protected override int PageSize => 25;

    protected override async Task<IPagedList<PollListEntry>?> GetListEntriesAsync()
    {
        return await FetchPollsService.GetPolls(UserId, TenantId, PagedListSettings.PageSize, PagedListSettings.PageNumber);
    }

}
