@using PoundPupLegacy.ViewModel;

@if (Model is not null && Model.Any())
{
    <h3>Professions</h3>
    <div class="person-types">
        @foreach (var link in Model)
        {
            <div><a href="@link.Path">@link.Name</a></div>
        }
    </div>
}
@code{
    [Parameter]
    public IEnumerable<Link>? Model { get; set; }
}