@using PoundPupLegacy.ViewModel.Models
<select name="search_option" @onchange="OnChange">
    @if (SearchOption == SearchOption.Contains) {
        <option value="contains" selected>contains</option>
    }
    else {
        <option value="contains">contains</option>
    }
    @if (SearchOption == SearchOption.IsEqualTo) {
        <option value="is_equal_to" selected>is equal to</option>
    }
    else {
        <option value="is_equal_to">is equal to</option>
    }
    @if (SearchOption == SearchOption.StartsWith) {
        <option value="starts_with" selected>starts with</option>
    }
    else {
        <option value="starts_with">starts with</option>
    }
    @if (SearchOption == SearchOption.EndsWith) {

        <option value="ends_with" selected>ends with</option>
    }
    else {
        <option value="ends_with">ends with</option>
    }
</select>

@code {

    [Parameter]
    [EditorRequired]
    public required SearchOption SearchOption { get; init; }

    [Parameter]
    [EditorRequired]
    public required Action<SearchOption> OnSelect { get; init; }

    private void OnChange(ChangeEventArgs changeEventArgs)
    {
        var value = changeEventArgs.Value?.ToString();
        if (value is null) {
            return;
        }
        OnSelect(value switch
        {
            "contains" => SearchOption.Contains,
            "starts_with" => SearchOption.StartsWith,
            "ends_with" => SearchOption.EndsWith,
            "is_equal_to" => SearchOption.IsEqualTo,
            _ => SearchOption.Contains
        });
    }
}
