@using PoundPupLegacy.Services
@using PoundPupLegacy.ViewModel.Models
@inherits PagedSearchViewer
@inject IFetchSearchService FetchSearchService
@if (Model is not null)
{
    <div class="blog-list">
        <article>
            @foreach (var entry in Model.Entries)
            {
                <div class="blog-teaser">
                    <h2>
                        <a href="@entry.Path">@entry.Title</a>
                    </h2>
                    <LargeTextViewer Value="@entry.Teaser" />
                    <div style="clear:both"></div>
                </div>
            }
        </article>
        <Pager Model="PagedList"/>
    </div>
}
@code {
    private SearchResult? Model { get; set; }

    protected override int PageSize => 25;

    protected override async Task OnInitializedPagedSearchAsync()
    {
        Model = await FetchSearchService.FetchSearch(UserId, TenantId, PagedList.PageSize, PagedList.PageNumber, PagedList.SearchTerm!);
    }
}
