@using PoundPupLegacy.ViewModel.Models
@if (Links.Any()) {
    <div class="see-also-box">
        <t2>See also</t2>
        <ul>
            @foreach (var elem in Links) {
                <li><a href="@elem.Path">@elem.Title</a></li>
            }
        </ul>
    </div>
}

@code {
    [Parameter]
    [EditorRequired]
    public BasicLink[] Links { get; set; } = Array.Empty<BasicLink>();

}
