@using PoundPupLegacy.Services
@using PoundPupLegacy.ViewModel.Models
@inherits PagedSearchViewer<TopicListEntry>
@inject ITopicService TopicService
@if(ListEntries is not null)
{
    <div class="articles">
        <div class="breadcrum">
            <span class="breadcrum-element">
                <a href="/home">home</a>
            </span>
        </div>
        <form>
            <SearchOptionSelector SearchOption="@PagedListSettings.SearchOption" />
            <input type="text" name="search" value="@PagedListSettings.SearchTerm" />
            <input type="submit" value="Search" />
        </form>
        @if (ListEntries.Any())
        {
            @foreach (var topic in ListEntries)
            {
                <div>
                    <a href="@topic.Path">@topic.Title</a>
                </div>
            }
            <Pager Model="PagedListSettings"/>
        }
        else
        {
            <p>No organizations were found</p>
    
        }

    </div>
}
@code {

    protected override int PageSize => 50;

    protected override async Task<IPagedList<TopicListEntry>?> GetListEntriesAsync()
    {
        return await TopicService.FetchTopics(UserId, TenantId, PagedListSettings.PageSize, PagedListSettings.PageNumber, PagedListSettings.SearchTerm, PagedListSettings.SearchOption);
    }

}
