@using PoundPupLegacy.Services
@using PoundPupLegacy.ViewModel.Models
@inherits PagedSearchViewer<TopicListEntry>
@inject ITopicService TopicService
@if(ListEntries is not null)
{
    <div class="articles">
        <BreadCrumElementViewer Model="BreadCrumElements" />
        <TopicsListSearchForm PagedListSettings="PagedListSettings" />
        <TopicsListViewer ListEntries="ListEntries" PagedListSettings="PagedListSettings" SelectPage="SelectPage"/>
    </div>
}
@code {

    protected override int PageSize => 50;

    protected override async Task<IPagedList<TopicListEntry>?> GetListEntriesAsync()
    {
        return await TopicService.FetchTopics(
            userId: UserId, 
            tenantId: TenantId, 
            pageSize: PagedListSettings.PageSize, 
            pageNumber: PagedListSettings.PageNumber, 
            searchTerm: PagedListSettings.SearchTerm, 
            searchOption: PagedListSettings.SearchOption);
    }

    
}
