@using PoundPupLegacy.Models
@using PoundPupLegacy.Services
@inherits ViewerBase
@inject ISiteDataService SiteDataService

<nav>
    <ul>
        <li>
            <a href="/">
                Home
            </a>
        </li>
        @foreach (var item in _menuItems) 
        {
            <LinkListElementViewer Link="@item" />
        }
    </ul>
</nav>


@code {
    private IEnumerable<MenuItem> _menuItems = Array.Empty<MenuItem>();

    protected override async Task OnInitializedAsync()
    {

        _menuItems = await SiteDataService.GetMenuItemsForUser(User.Id);
    }
}
