@using PoundPupLegacy.Models
@using PoundPupLegacy.Services
@inherits Viewer
@inject ISiteDataService SiteDataService

<nav>
    <ul>
        <li>
            <a href="/">
                Home
            </a>
        </li>
        @foreach (var item in _menuItems) 
        {
            <a href="@item.Path">
            <li>
                    @item.Name
            </li>
            </a>
        }
        @if (UserId != 0) {
            <li>
                <form id="login-form" action="/logout" method="post">
                    <input type="submit" value="logout" />
                </form>
            </li>
        }
        else {
            <li>
                <form id="login-form" action="/login" method="post">
                    <input type="text" name="user" />
                    <input type="password" name="password" />
                    <br />
                    <input type="submit" value="login" />
                </form>
            </li>
        }
    </ul>
</nav>


@code {
    private IEnumerable<MenuItem> _menuItems = Array.Empty<MenuItem>();

    protected override void OnInitialized()
    {

        _menuItems = SiteDataService.GetMenuItemsForUser(
            userId: UserId, 
            tenantId: TenantId);
    }
}
