@using PoundPupLegacy.Services;
@using PoundPupLegacy.ViewModel;
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Cases
@inject ISiteDataService siteDataService
<div class="article-with-comments">

    <div class="breadcrum">
        <span class="breadcrum-element">
            <a href="/home">home</a>
        </span>
        <span class="breadcrum-element">
            <a href="/cases">cases</a>
        </span>
    </div>
    
    <article>
        <h1>Wrongful removal cases</h1>

        <div class="blog-teasers">
            
            @foreach(var entry in Model.CaseListEntries)
            {
                <div class="blog-teaser">
                @if (!entry.HasBeenPublished)
                {
                    <div class="watermark">Unpublished</div>
                }
                
                <h2>
                    <a href="@entry.Path">@entry.Title</a>
                </h2>
                @Html.Raw(entry.Text)
                </div>
            }
        </div>
    </article>
</div>
@{
    Layout = siteDataService.GetLayout(Context);
}
