:root {
    --header-bg-color: #1c206e;
    --content-bg-color: #f8f4f0;
    --content-title-color: #080b42;
    --nav-bg-color: #444;
    --nav-bg-hover-color: #222;
    --nav-border-color: #808080;
    --nav-text-color: silver;
    --footer-bg-color: white;
    --breadcrum-bg-color: #787dd2;
    --breadcrum-color: #fdf3e6;
    --term-bg-color: #e0d7ca;
    --term-bg-color-selected: #cdbea9;
    --term-border-color: #9b7542;
    --teaser-list-element-border-color: #9b7542;
    --watermark-color: #999;
    --comment-border-color: #bbb;
    --comment-bg-color: #eaecf3;
    --comment-title-color: #05072f;
    --link-color: #495cc4;
    --editor-element-background: transparent;
    --editor-header-background: #f6dab4;
    --editor-border-color: #f6dab4;
    --input-outline-color: #f6dab4;
    --input-outline-focus-color: #f4cc97;
    --input-shadow: 4px 4px 2px 1px rgba(68, 43, 8, 0.2);
    --button-color: #6290fa;
    --button-hover-color: #799df0;
    --table-header-bg-color: #f6dab4;
    --table-row-bg-color: #faf6f0;
    --table-row-bg-color-even: #f1ebe2;
}

header {
    color: white;
}