*, *:before, *:after {
    box-sizing: border-box;
}

:root {
    --header-bg-color: linear-gradient(180deg, #2c2c2c 0%, #2c2c2c 100%);
    --content-bg-color: #f8f4f0;
    --content-title-color: #080b42;
    --nav-bg-color: #444;
    --nav-bg-hover-color: #222;
    --nav-border-color: #808080;
    --nav-text-color: silver;
    --footer-bg-color: #2c2c2c;
    --breadcrum-bg-color: #e4ba86;
    --breadcrum-color: #fdf3e6;
    --term-bg-color: #e0d7ca;
    --term-bg-color-selected: #cdbea9;
    --term-border-color: #9b7542;
    --teaser-list-element-border-color: #9b7542;
    --watermark-color: #999;
    --comment-border-color: #bbb;
    --comment-bg-color: #eaecf3;
    --comment-title-color: #05072f;
    --link-color: #3a3123;
}

html {
    display: block;
    background: var(--footer-bg-color);
}

body {
    display: flex;
    flex-direction: column;
    background: white;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    color: #333;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px silver inset !important;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

blockquote {
    border-left: solid 0.5em black;
    margin-left: 0;
    padding-left: 1em;
}

img {
    object-fit: contain;
}

h1 {
    color: var(--content-title-color);
}

td {
    border-left: solid 1px grey;
    border-bottom: solid 1px grey;
}

th {
    border-top: solid thin grey;
    border-bottom: solid thin grey;
    text-align: left;
    background-color: #ccc;
}

    th:first-of-type {
        border-left: solid thin grey;
    }

    th:last-of-type, td:last-of-type {
        border-right: solid thin grey;
    }

tr:nth-of-type(2n+1) {
    background-color: #eee;
}

.label-value {
    margin-bottom: 0.5em;
}

    .label-value label {
        font-weight: 200;
        vertical-align: central;
    }

input[type=text], input[type=password], select {
    border-radius: 3px;
    border: 0;
    outline: solid 2px #bed1fd;
    background-color: white;
    padding: 0.25em 0.15em 0.25em 0.15em;
    font-size: 90%;
}

    input[type=text]:focus, select:focus {
        outline-color: #b3ebfc;
    }

.edit-form input, .edit-form select {
    display: block;
    margin-bottom: 0.5em;
}

.edit-form button {
    margin: 0.25em;
    padding: 0.5em 1em;
    border: 0;
    background-color: #6290fa;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

input[type=file] {
    display: none;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.country-flag {
    width: auto;
    height: 2em;
    margin-bottom: 0.5em;
    border: solid 1px #aaa
}

.ck-content {
    min-height: 25em;
}

.frontpage {
}

.front-page-text {
}

h1 {
}
