:root {
    --header-bg-color: linear-gradient(180deg, #2c2c2c 0%, #2c2c2c 100%);
    --content-bg-color: #f8f4f0;
    --content-title-color: #080b42;
    --nav-bg-color: #444;
    --nav-bg-hover-color: #222;
    --nav-border-color: #808080;
    --nav-text-color: silver;
    --footer-bg-color: #2c2c2c;
    --breadcrum-bg-color: #e4ba86;
    --breadcrum-color: #fdf3e6;
    --term-bg-color: #e0d7ca;
    --term-bg-color-selected: #cdbea9;
    --term-border-color: #9b7542;
    --teaser-list-element-border-color: #9b7542;
    --watermark-color: #999;
    --comment-border-color: #bbb;
    --comment-bg-color: #f3f2ea;
    --comment-title-color: #05072f;
    --link-color: #725a35;
    --editor-element-background: transparent;
    --editor-header-background: #e0caad;
    --editor-secondary-header-background: #efe4d5;
    --editor-deleted-row-background: #c6d0e3;
    --editor-border-color: #f6dab4;
    --input-outline-color: #f6dab4;
    --input-outline-focus-color: #f4cc97;
    --input-shadow: 4px 4px 2px 1px rgba(68, 43, 8, 0.2);
    --button-color: #6290fa;
    --button-hover-color: #799df0;
    --table-header-bg-color: #f6dab4;
    --table-row-bg-color: #faf6f0;
    --table-row-bg-color-even: #f1ebe2;
    --select-item-bg-color: #f1ebe2;
    --selected-item-bg-color: #f0e5d3;
    --selected-indicator-color: #ccb28a;
}


.frontpage {
    flex: 1;
    background-color: var(--footer-bg-color);
    background-image: url("/frontpage.jpg");
    background-repeat: no-repeat;
    display: flex;
}

.front-page-text {
    user-select: none;
    margin: auto;
    width: 50%;
    background-color: #e8e2d9;
    padding: 1em;
    border-radius: 1em;
    text-align: center;
    color: #333;
    justify-content: center;
    box-shadow: 6px 6px 2px 1px rgba(25, 20, 20, .25);
    border: solid 6px #e4ba86;
}

h1 {
    user-select: none;
    color: #413d2d;
    border: 0;
    outline: 0;
}

.row span {
    padding-top: 0.5em;
    display: inline-block;
}