html {
    display: block;
}

body {
    width: 100%;
    background-color: #1e1e1e;
    color: gainsboro;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight:300;
    margin: 0;
    padding: 0;
}
header {
    background-color: #2c2c2c;
    margin: 0;
    padding-bottom: 0.75em;
    user-select: none;
}

header .logo{
    margin-right: 3em;
}

header .logo .acronym{
    font-size: 450%;
    font-weight: bold;
}

header .logo .full-name {
    font-size: 110%;
}
header .title {
    display: flex;
    justify-content: center;
}

header .subtitle {
    text-align: center;
    font-family: BhuTuka Expanded One;
    font-size: 150%;
    font-weight: bold;
    margin-top: 1.5em;
}

footer {
    border-top: solid thin silver;
    border-bottom: solid thin silver;
    padding-left: 1em;
    background-color: #2c2c2c;
}
footer ul {
    margin: 0;
    padding-top: 1em;
    padding-left: 1em;
}
footer ul li a {
    font-size: 90%;
    color: lightgray;
    text-decoration: none;
}
footer h2 {
    font-size: 300%;
    color: #3f3f3f;
}
.main{
    display: flex;
}
nav {
    border-top: solid thin silver;
    border-right: solid 1px #555;
    min-width: 10em;
}
nav ul {
    list-style-type: none;
    margin:0;
    padding:0;
}
nav ul a {
    color: silver;
    text-decoration: none;
}
nav ul li {
    border-bottom: solid 1px #555;
    padding-left: 0.25em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-right: 0.25em;
}
nav ul li:hover {
    background-color: #3d3d3d;
}

nav form{
    width: 10em;
}
nav form input {
    margin-top: 0.25em;
}

nav form input[type=text], nav form input[type=password] {
    width: 8em;
    border: 0;
    padding: 0.15em;
    border-radius: 2px;
    margin-left: 0.15em;
}
input[type=text]{
    background-color: silver;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px silver inset !important;
}
nav form input[type="submit"] {
    background-color: silver;
    padding: 0.5em;
    border-radius: 2px;
}
content {
    min-height: 50em;
    width: 100%;
}
.article-with-comments, .blog-list, .articles {
    width: 100%;
    background-color: #e2e0dc;
    color: #222;
    height: 100%;

}
.article-with-comments a, .blog-list a, .articles a {
    color: #653708;
    text-decoration: none;
}    

article {
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.tags {

}
.article-with-comments .tags {
    background-color: #cd7648;
    margin-top: 1em;
    margin-bottom: 1.5em;
    padding: 0.5em;
}
.articles .tags {
}

.tag {
    margin-right: 0.5em;
}

.article-with-comments .tag a {
    color: #fcf7ef;
}
article h1, .blog-list h1 {
    color: #555;
}
article .author{
    margin-bottom: 1em;
}
   
article .text{
    min-width: 20em;
}
.see-also-box {
    float: right;
    clear: right;
    width: 28%;
    min-width: 20em;
    padding-top: 0;
    padding-right: 1em;
    margin-top: 0;
    margin-left: 1em;
    margin-bottom: 1em;
    color: #521300;
    background-color: #e3caac;
    border: thin solid #cd3f01;
    padding: 0.25em;
}

.see-also-box h2 {
}
.see-also-box ul {
    list-style-type: disc;
    margin-left: -1em;
}
.see-also-box ul li {
    padding-bottom: 0.25em;
}


.comment {
    margin-left: 2em;
    margin-top: 1em;
}
.comment-body {
    color: #222;
    border: solid 1px #aaa;
    border-radius: 5px 0 5px 0;
}
.comment .comment-content {
    padding: 0.5em 0.5em 0.5em 0.5em;
}
.comment .title {
    background-color: #c3b29c;
}
.comment h2 {
    padding-left: 0.25em;
    color: #666;
    margin: 0;
    font-size: 110%;
}
.comment .author {
    margin-bottom: 1em;
}
.comment-unpublished {
    
}
.comment{
    position:relative;
}

.comment-unpublished {
    background-color: #d5d5d5;
}
.watermark-inner {
    /* Center the content */
    align-items: center;
    display: flex;
    justify-content: center;
    /* Absolute position */
    left: 0px;
    position: absolute;
    top: 0px;
    /* Take full size */
    height: 100%;
    width: 100%;
}

.watermark-body {
    /* Text color */
    color: rgba(0, 0, 0, 0.2);
    /* Text styles */
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    /* Rotate the text */
    transform: rotate(-5deg);
    /* Disable the selection */
    user-select: none;
}

.breadcrum {
    background-color: #cd7648;
    color: #ffffff;
    margin: 0;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

.breadcrum a {
    color: #fcf7ef;
    text-decoration: none;
}

.breadcrum-element::after {
    content: '>';
}
.breadcrum-element:last-of-type::after {
    content: '';
}

blockquote {
    border-left: solid 0.5em #cbb49c;
    margin-left: 0;
    padding-left: 1em;
}
.blogs-list {
    width: 100%; 
    display: grid;
    grid-template-columns: 15fr 10fr 50fr 1fr;
}

.blogs-list div {
    padding: 0.5em;  
    height: 4em;
    margin-bottom: 1em;
    border-bottom: solid 1px grey;
}
.blogs-list div:nth-last-child(-n+4) {
    margin-bottom: 0;
    border-bottom: 0; 
}
.blogs-list div img {
    height: 4em;
}

.blog-teasers {
    display: grid;
}

.blog-teaser {
    padding-bottom: 1.5em;
    border-bottom: solid thin #aaa;
}
.blog-teaser:last-of-type{
    border-bottom: 0;
}
.blogs-list label{
    background-color: #b9bbc8;
    padding: 0.5em;
    color: black;
}

.term-names {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-column-gap: 0.5em;
    padding: 0.5em;
}

.term-name {
    width: 100%;
    margin-bottom: 0.5em;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #e3caac;
    border: solid thin #cd7648;
    border-radius: 5px;
}

.term-name:has(input:checked) {
    background-color: #d0b89a; 
}

.term-name label{
    user-select: none;
    cursor: pointer;
    
}
.term-name input[type="checkbox"] {
    display: none;
}