*, *:before, *:after {
    box-sizing: border-box;
}
html {
    display: block;
    background: var(--footer-bg-color);
}

body {
    display: flex;
    flex-direction: column;
    background: white;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    color: #333;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px silver inset !important;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

blockquote {
    border-left: solid 0.5em black;
    margin-left: 0;
    padding-left: 1em;
}

img {
    object-fit: contain;
}

h1 {
    color: var(--content-title-color);
}

td {
    border-left: solid 1px grey;
    border-bottom: solid 1px grey;
}

th {
    border-top: solid thin grey;
    border-bottom: solid thin grey;
    text-align: left;
    background-color: var(--table-header-bg-color);
}

th:first-of-type {
    border-left: solid thin grey;
}

th:last-of-type, td:last-of-type {
    border-right: solid thin grey;
}

tr{
    background-color: var(--table-row-bg-color);
}
tr:nth-of-type(2n+1) {
    background-color: var(--table-row-bg-color-even);
}

.label-value {
    margin-bottom: 0.5em;
}

.label-value label {
    font-weight: 200;
    vertical-align: central;
}

input[type=text], input[type=password], input[type=number], select {
    border-radius: 3px;
    border: 0;
    outline: solid 2px var(--input-outline-color);
    background-color: white;
    padding: 0.25em 0.15em 0.25em 0.15em;
    font-size: 90%;
}

input[type=text]:focus, select:focus {
    outline-color: var(--input-outline-focus-color);
}

.edit-form input, .edit-form select {
    display: block;
    margin-bottom: 0.5em;
}

.edit-form button {
    margin: 0.25em;
    padding: 0.5em 1em;
    border: 0;
    background-color: #6290fa;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

input[type=file] {
    display: none;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.country-flag {
    width: auto;
    height: 2em;
    margin-bottom: 0.5em;
    border: solid 1px #aaa
}

.ck-content {
    min-height: 25em;
}

.validation-message{
    color:red;
    font-weight: bold;
    border: solid 1px red;
    padding: 0.5em;
    margin-bottom: 1em;
    background-color: lightpink;
}
header form {
    margin-top: 0.25em;
    margin-bottom: 0.25em;
}

header {
    background: var(--header-bg-color);
    margin: 0;
    user-select: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 0;
    grid-template-columns: 10em auto;
}

header .logo {
    font-family: 'Raleway', sans-serif;
    margin-left: 2em;
    color: silver;
    flex-grow: 0;
    font-size: clamp(16px, 6vw, 36px);
    font-weight: 400;
}

header .central-header {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

header .central-header form {
    margin-left: 0.25em;
}

header .central-header form input[type=submit] {
    margin-left: 0.15em;
    margin-top: 0.15em;
}

header .central-header form input[name=search] {
    width: 8em;
}

header .subtitle {
    color: silver;
    padding-left: 0.25em;
    font-family: BhuTuka Expanded One;
    font-size: clamp(11px, 2vw, 24px);
    font-weight: 900;
    margin-top: 0.15em;
    margin-right: 1em;
}

@media screen and (min-width: 880px) {
    header {
        flex-direction: row;
    }

        header .central-header {
            flex-direction: row;
            justify-content: center;
            align-items: center;
        }

        header .subtitle {
            text-align: center;
        }
}

#search-form {
    margin-right: 2em;
}

header a {
    color: silver;
    margin-right: 1em;
}
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1
}

@media screen and (min-width: 880px) {
    main {
        /*flex-direction: row;*/
    }
}


footer {
    background-color: var(--footer-bg-color);
    flex-grow: 0;
}

footer ul {
    margin: 0;
    margin-top: 0.5em;
    padding-left: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

footer ul li {
    display: inline;
    margin-right: 0.5em;
    border-left: solid 2px #386fff;
    padding-left: 0.25em;
}

footer ul li a {
    font-size: 90%;
    color: silver;
    text-decoration: none;
}

footer h2 {
    font-size: clamp(32px, 6vw, 22px);
    color: #444;
    margin: 0.25em
}

.page {
    flex: 1;
}

.breadcrum {
    background: var(--breadcrum-bg-color);
    color: var(--breadcrum-color);
    margin: 0;
    padding-left: 0.60em;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    border-bottom: solid 1px var(--nav-border-color);
}

.breadcrum a {
    color: var(--breadcrum-color);
    text-decoration: none;
}

.breadcrum-element::after {
    content: ' > ';
}

.breadcrum-element:last-of-type::after {
    content: '';
}
.publication-status-0 {
    color: indianred;
}

.publication-status-1 {
    color: dodgerblue;
}

.publication-status-2 {
    color: mediumseagreen;
}

.tooltip {
    cursor: pointer;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /* Position the tooltip text - see examples below! */
    position: absolute;
    right: 2em;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltip-text {
    visibility: visible;
}