*, *:before, *:after {
    box-sizing: border-box;
}
html {
    display: block;
    background: var(--footer-bg-color);
}

body {
    display: flex;
    flex-direction: column;
    background: white;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    color: #333;
    font-family: "Yanone Kaffeesatz", sans-serif;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px silver inset !important;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

blockquote {
    border-left: solid 0.5em black;
    margin-left: 0;
    padding-left: 1em;
}

img {
    object-fit: contain;
}

h1 {
    color: var(--content-title-color);
}

td {
    border-left: solid 1px grey;
    border-bottom: solid 1px grey;
}

th {
    border-top: solid thin grey;
    border-bottom: solid thin grey;
    text-align: left;
    background-color: var(--table-header-bg-color);
}

th:first-of-type {
    border-left: solid thin grey;
}

th:last-of-type, td:last-of-type {
    border-right: solid thin grey;
}

tr{
    background-color: var(--table-row-bg-color);
}
tr:nth-of-type(2n+1) {
    background-color: var(--table-row-bg-color-even);
}

.label-value {
    margin-bottom: 0.5em;
}

.label-value label {
    font-weight: 200;
    vertical-align: central;
}

input[type=text], input[type=password], select {
    border-radius: 3px;
    border: 0;
    outline: solid 2px var(--input-outline-color);
    background-color: white;
    padding: 0.25em 0.15em 0.25em 0.15em;
    font-size: 90%;
}

input[type=text]:focus, select:focus {
    outline-color: var(--input-outline-focus-color);
}

.edit-form input, .edit-form select {
    display: block;
    margin-bottom: 0.5em;
}

.edit-form button {
    margin: 0.25em;
    padding: 0.5em 1em;
    border: 0;
    background-color: #6290fa;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

input[type=file] {
    display: none;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

.country-flag {
    width: auto;
    height: 2em;
    margin-bottom: 0.5em;
    border: solid 1px #aaa
}

.ck-content {
    min-height: 25em;
}

.validation-message{
    color:red;
    font-weight: bold;
    border: solid 1px red;
    padding: 0.5em;
    margin-bottom: 1em;
    background-color: lightpink;
}