@inherits AdoptionImportsTableCellViewer
<div class="adoption-import-value year-@Model.Year @TableCellCssClass">
    @if (Model.NumberOfChildren != 0) {
        @Model.NumberOfChildren
    }
</div>

@code {
    [Parameter]
    [EditorRequired]
    public required AdoptionImportValue Model { get; init; }
}
