@if (Model.Any())
{
    <h3>Bill actions</h3>
    <table style="width:100%">
        <tr>
            <th>Action</th>
            <th>Bill</th>
            <th>Date</th>
        </tr>
        @foreach (var item in Model.OrderBy(x => x.Date))
        {
            <tr>
                <td><LinkViewer Link="@item.BillActionType" /></td>
                <td><LinkViewer Link="@item.Bill" /></td>
                <td>@item.Date.ToString("yyyy MMM dd")</td>
            </tr>
        }
    </table>
}
@code{
    [Parameter]
    [EditorRequired]
    public IEnumerable<BillAction> Model { get; set; } = Array.Empty<BillAction>();
}
