@inherits PagedViewer<BlogPostTeaser>
@inject IFetchBlogService FetchBlogService;
<HeadContentSetter Title=@Title SiteName=@SiteName Description=@Description />
<BreadCrumElementViewer Model="BreadCrumElements" />
<TeaserListViewer ListEntries="ListEntries" PagedListSettings="PagedListSettings" SelectPage="SelectPage">
    <h1>
        @Name
    </h1>
</TeaserListViewer>

@code{
    [Parameter]
    [EditorRequired]
    public int Id { get; set; }

    private int? PreviousId { get; set; } = null;

    protected override string Title => $"{SiteName} | {Name}";

    protected override string Description => $"{Name}";


    protected override async Task OnParametersSetAsync()
    {
        if (!PreviousId.HasValue) {
            PreviousId = Id;
            return;
        }
        if (PreviousId != Id) {
            await OnInitializedAsync();
        }
    }

    private string Name { get; set; } = string.Empty;

    protected override int PageSize => 10;

    protected override async Task<IPagedList<BlogPostTeaser>> GetListEntriesAsync()
    {
        var result =  await FetchBlogService.FetchBlog(
            publisherId: Id, 
            tenantId: TenantId, 
            pageNumber: PagedListSettings.PageNumber, 
            pageSize: PagedListSettings.PageSize);
        Name = result.Name;
        return result;
    }

    protected override Link[] BreadCrumElements => new Link[] { base.BreadCrumElements.First(), new BasicLink { Path = "/blogs", Title = "blogs" } };
}
