@inherits Viewer
@inject IFetchBlogsService fetchBlogsService
@if(Model is not null){
    <BreadCrumElementViewer Model="BreadCrumElements" />
    <div class="blogs-list">
        <label>Author</label>
        <label>Number of posts</label>
        <label>Lastest post</label>
        <label>Avatar</label>
        @foreach(var entry in Model)
        {
            <div><LinkViewer Link="entry"/></div>
            <div>@entry.NumberOfEntries</div>
            <div><LinkViewer Link="entry.LatestEntry"/></div>
            @if (!string.IsNullOrEmpty(entry.FilePathAvatar))
            {
                <div><img src="/@entry.FilePathAvatar"/></div>
            }
            else
            {
                <div> </div>            
            }
    }
    </div>
}
@code{
    
    private List<BlogListEntry>? Model { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Model = await fetchBlogsService.FetchBlogs(TenantId);
    }

}
