<div class="breadcrum">
    @foreach (var element in @Model)
    {
        <span class="breadcrum-element">
            <a href="@element.Path">@element.Title</a>
        </span>
    }
    &nbsp;
</div>
@code{
    [Parameter]
    [EditorRequired]
    public required IEnumerable<Link> Model { get; init; }
}