@inject IFetchCasesService FetchCasesService
@inherits PagedViewer<NonSpecificCaseListEntry>
<HeadContentSetter Title=@Title SiteName=@SiteName Description=@Description />
<BreadCrumElementViewer Model="BreadCrumElements" />
<TeaserListViewer ListEntries="ListEntries" PagedListSettings="PagedListSettings" SelectPage="SelectPage">
    <div class="case-types">
    <h1>Cases</h1>
    <div>
    @foreach(var caseType in CaseTypeListEntries.OrderBy(x => x.Title)) {
        <div class="case-type @caseType.Title.Replace(" ", "-").Replace("'", "")">
            <a href="@caseType.Path">@caseType.Title</a>
            <div>
                @((MarkupString)caseType.Text)
            </div>
        </div>
    }
    </div>
    </div>
</TeaserListViewer>

@code {

    protected override int PageSize => 10;

    protected override string Title => $"{SiteName} | Cases";

    protected override string Description => "A break down of the various types of cases and a list of the most recent cases";

    private CaseTypeListEntry[] CaseTypeListEntries { get; set; } = Array.Empty<CaseTypeListEntry>();

    protected override async Task<IPagedList<NonSpecificCaseListEntry>> GetListEntriesAsync()
    {
        var result = await FetchCasesService.FetchCases(
            pageSize: PagedListSettings.PageSize, 
            pageNumber: PagedListSettings.PageNumber, 
            tenantId: TenantId, 
            userId: UserId);
        CaseTypeListEntries = result.CaseTypes;
        return result;
    }
}
