@using PoundPupLegacy.ViewModel.Models
@typeparam TModel where TModel: class, Case
@inherits ViewerBase
<LocatableViewer Model="Model" Description="@Description">
    <div class="details">
        <LabeledNullableFuzzyDateViewer Value="@Model.Date" Label="Incident date" />
        @ChildContent
    </div>
    <CasePartiesViewer Model="@Model.CaseParties" />
</LocatableViewer>

@code {
    [Parameter]
    [EditorRequired]
    public TModel Model { get; set; } = default!;

    [Parameter]
    [EditorRequired]
    public RenderFragment ChildContent { get; set; } = default!;

    [Parameter]
    [EditorRequired]
    public string Description { get; set; } = default!;
}
