@inject IFetchCoercedAdoptionCasesService FetchCasesService
@inherits PagedTermedViewer<CaseTeaserListEntry, CoercedAdoptionCaseList>
<HeadContentSetter Title=@Title SiteName=@SiteName Description=@Description />
<BreadCrumElementViewer Model="BreadCrumElements" />
@if (ListEntries is null) {
    <div>Loading cases...</div>
}
else{
    <TagSelector TermNames="TermNames" OnSelectTerm="SelectTerm" />
    <TeaserListViewer ListEntries="ListEntries" PagedListSettings="PagedListSettings" SelectPage="SelectPage" />
}
@code {
    protected override int PageSize => 10;

    protected override string Title => $"Coerced Adoption Cases";

    protected override string Description => "A list of the most recent coerced adoption cases";

    protected override async Task<TermedList<CoercedAdoptionCaseList, CaseTeaserListEntry>> GetTermedList()
    {

        return await FetchCasesService.FetchCases(
            pageSize: PagedListSettings.PageSize,
            pageNumber: PagedListSettings.PageNumber,
            tenantId: Tenant.Id,
            userId: User.Id,
            selectedTerms: PagedListSettings.SelectedTermIds
        );

    }
}
