@if(Model.Any()){
    <div class="comments" style="margin-bottom: 2em;">
        @foreach (var comment in @Model)
        {
            <CommentViewer Model="comment" />
        }
    </div>
}
@code{
    [Parameter]
    [EditorRequired]
    public IEnumerable<ViewModel.Models.Comment> Model { get; set; } = Array.Empty<ViewModel.Models.Comment>();
}