.comment {
    margin-left: 2em;
    margin-top: 1em;
}

.comment-body {
    color: black;
    border: solid 1px var(--comment-border-color);
    border-radius: 5px 0 5px 0;
    padding: 0.5em;
    background-color: var(--comment-bg-color)
}

.comment-content {
    padding: 0.5em 0.5em 0.5em 0.5em;
}

.title {
    background-color: white;
}

h2 {
    padding-left: 0.5em;
    color: #05072f;
    margin: 0;
    font-size: 110%;
    background-color: var(--comment-bg-color);
}

.author {
    margin-bottom: 1em;
}

.comment {
    position: relative;
}

.comment-unpublished .comment-body, .comment-unpublished h2{
    background-color: #f4e8e8;
}

.text {
    min-width: 20em;
}