.state-representation {
    background-color: #dddddd;
    margin-bottom: 2em;
    margin-right: 1em;
    padding: 0.5em;
    padding-left: 1em;
    box-shadow: 10px 10px 5px #888888;
}

.state-representation h4 {
    font-size: 150%;
    font-weight: bold;
    margin-top: 0.25em;
    margin-bottom: 0.75em;
    text-shadow: 1px 1px #ffffff;
}

.member-of-congress {
    display: grid;
    grid-template-columns: 1fr 4fr;
    margin-bottom: 0.25em;
    border-bottom: solid 1px #eeeeee;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

label {
    font-weight: 600;
}

.meeting {
    margin-bottom: 1em;
}

.state-representation h4 a {
    color: black;
}

.member-of-congress table {
    border: 0;
}

.member-of-congress table tr {
    background-color: transparent;
    border: 0;
}

.member-of-congress table tr:nth-of-type(2n+1) {
    background-color: transparent;
    border: 0;
}

.member-of-congress table td {
    background-color: transparent;
    border: 0;
}

.list-entries {
    margin-left: 1em;
    margin-bottom: 1em;
}
