@if (Model.Any())
{
    <div class="section">
        <h3>Documents</h3>
        <table style="margin-bottom:1em;width:100%">
            <tr>
                <th>Title</th>
                <th>Publication date</th>
            </tr>
            @foreach (var document in Model.OrderBy(x => x.SortOrder))
            {
                <tr>
                    <td><NavLink href="@document.Path">@document.Title</NavLink></td>
                    <td>@document.Published?.ToDisplayString()</td>
                </tr>
            }
        </table>
    </div>
}
@code {

    [Parameter]
    [EditorRequired]
    public required IEnumerable<DocumentListItem> Model { get; init; }
}