<div class="large-text">
    <SeeAlsoBoxViewer Links="Links" />
    <LargeTextViewer Value="@Text" />
</div>

@code {
    [Parameter]
    [EditorRequired]
    public string Text { get; set; } = string.Empty;

    [Parameter]
    [EditorRequired]
    public BasicLink[] Links { get; set; } = Array.Empty<BasicLink>();

}
