@if (ListEntries.Any()) {
    @foreach (var listEntry in ListEntries) {
        <div>
            <LinkViewer Link="@listEntry" />
        </div>
    }
    <Pager Model="PagedListSettings" SelectPage="SelectPage"/>
}
else {
    <p>No @ElementsName were found</p>

}

@code {
    [Parameter]
    [EditorRequired]
    public required ListEntry[] ListEntries { get; init; }

    [Parameter]
    [EditorRequired]
    public required PagedListSettings PagedListSettings { get; init; }

    [Parameter]
    [EditorRequired]
    public required Func<int, Task> SelectPage { get; init; }

    [Parameter]
    [EditorRequired]
    public required string ElementsName { get; init; }

}
