@using PoundPupLegacy.ViewModel.Models
@inherits SimpleTextNodeViewerBase<MultiQuestionPoll>
<SimpleTextNodeViewer Model="Model" Description="Description">
    @if (Model.PollStatusId == 0)
    {
        <div>
            <label>Status: </label>
            Closed
        </div>
    }
    @if (Model.PollStatusId == 1)
    {
        <div>
            <label>Status: </label>
            Open
        </div>
    }
    @if (Model.DateTimeClosure > DateTime.Now)
    {
        <div>
            <label>Closes: </label>
            @Model.DateTimeClosure.Value.ToString("yyyy MMM dd")
        </div>
    }

    <PollQuestionsViewer Model="@Model.PollQuestions" />
</SimpleTextNodeViewer>
@code{
    [Parameter]
    [EditorRequired]
    public override MultiQuestionPoll Model { get; set; } = default!;

    protected override string ItemDescription => $"Poll";
}