<div class="node-content @ModelClassName">
    @ChildContent
</div>

@code {
    [Parameter]
    [EditorRequired]
    public required Node Model { get; init; }

    [Parameter]
    [EditorRequired]
    public required RenderFragment ChildContent { get; init; }


    private string ModelClassName => Model.HasBeenPublished ? "node" : "node node-unpublished";
}
