@inherits ViewerBase

<BreadCrumElementViewer Model="@Model.BreadCrumElements"/>
    
@if (!Model.HasBeenPublished) {
    <WaterMarkViewer />
}
<article>
    <h1>@Model.Title</h1>
    @if (Model is BlogPost blogPost) {
        <BlogPostViewer Model="blogPost" />
    }
    @if (Model is Discussion discussion) {
        <DiscussionViewer Model="discussion" />
    }
    @if (Model is Document document) {
        <DocumentViewer Model="document"/>
    }
    @if (Model is SimpleTextNode simpleTextNode) {
        <SimpleTextNodeViewer Model="simpleTextNode"/>
    }
    @if (Model is Country country) {
        <CountryViewer Model="country" />
    }
    @if (Model is Organization organization) {
        <OrganizationViewer Model="organization"/>
    }
    @if (Model is Person person) {
        <PersonViewer Model="person"/>
    }
    @if (Model is Case _case) {
        <CaseViewer Model="_case"/>
    }
    @if (Model is SingleQuestionPoll singleQuestionPoll) {
        <SingleQuestionPollViewer Model="singleQuestionPoll"/>
    }
    @if (Model is MultiQuestionPoll multiQuestionPoll) {
        <MultiQuestionPollViewer Model="multiQuestionPoll"/>
    }
    @if (Model is Subdivision subdivision) {
        <SubdivisionViewer Model="subdivision"/>
    }
    @if(Model is Documentable documentable) {
        <DocumentableViewer Model="@documentable" />
    }
    @if(Model is Nameable nameable) {
        <NameableViewer Model="@nameable" />
    }
    <TagsViewer Tags="Model.Tags" />
    <FilesViewer Model="Model.Files" />
    @if (Model is Locatable locatable) {
        <LocatableViewer Model="locatable" />
    }
</article>
@code{
    [Parameter]
    [EditorRequired]
    public Node Model { get; set; } = default!;

}