@if (Model is not null && Model.Any())
{
    <div class="section" style="margin-top:2em;">
        @foreach (var organizationType in Model)
        {
            <LabeledLinkListViewer Label="@organizationType.OrganizationTypeName" Links="@organizationType.Organizations" />
        }
    </div>
}
@code{
    [Parameter]
    [EditorRequired]
    public required IEnumerable<OrganizationTypeWithOrganizations> Model { get; init; }
}