<span>
    @if (PagerElementType == PagerElementType.Page && Model.PageNumber == PageNumber) {
        <strong>@Label</strong>
    }
    else @if (UserId == 0) 
    { 
        <a href="@Model.Path?@Model.GetQueryString(PageNumber)">@Label</a>
    }
    else
    {
        <a href="#" @onclick="async () => await SelectPage(PageNumber)">@Label</a>
    }
</span>

@code {
    [Parameter]
    [EditorRequired]
    public required PagedListSettings Model { get; init; }

    [Parameter]
    [EditorRequired]
    public required int PageNumber { get; init; }

    [Parameter]
    [EditorRequired]
    public required PagerElementType PagerElementType { get; init; }

    [Parameter]
    [EditorRequired]
    public required Func<int, Task> SelectPage { get; init; }


    [CascadingParameter(Name = "UserId")]
    public int UserId { get; set; }

    private string Label
    {
        get
        {
            switch (PagerElementType)
            {
                case PagerElementType.First:
                    return "« first";
                case PagerElementType.Previous:
                    return "‹ previous";
                case PagerElementType.Next:
                    return "next ›";
                case PagerElementType.Last:
                    return "last »";
                default:
                    return PageNumber.ToString();
            }
        }
    }
}
