@if (Model is not null && Model.Any())
{
    <div class="cases">
        @foreach (var partyCaseType in Model)
        {
            <label>
                @partyCaseType.CaseTypeName.Pluralize().CapitalizeFirstCharacter()
            </label>
            <div class="party-types">
                @foreach (var partyCase in partyCaseType.PartyCases)
                {
                    <div class="party-type">
                        <div class="label">@partyCase.CasePartyTypeName.CapitalizeFirstCharacter()</div>
                        @foreach (var @cace in partyCase.Cases)
                        {
                            <a href="@cace.Path">@cace.Title</a>
                        }
                    </div>
                }
            </div>
        }
    </div>
}
@code{
    [Parameter]
    [EditorRequired]
    public IEnumerable<PartyCaseType>? Model { get; set; }
}