@inherits PagedViewer<PollListEntry>
@inject IFetchPollsService FetchPollsService
<HeadContentSetter Title=@Title SiteName=@SiteName Description=@Description />
<BreadCrumElementViewer Model="BreadCrumElements" />
@if (ListEntries is null) {
    <div>Loading polls...</div>
}
else{
    <TeaserListViewer ListEntries="ListEntries" PagedListSettings="PagedListSettings" SelectPage="SelectPage"/>
}
@code {

    protected override int PageSize => 25;

    protected override string Title => $"Polls";

    protected override string Description => "List of all polls held on this site";

    protected override async Task<IPagedList<PollListEntry>> GetListEntriesAsync()
    {
        return await FetchPollsService.GetPolls(
            userId: User.Id, 
            tenantId: Tenant.Id, 
            pageSize: PagedListSettings.PageSize, 
            pageNumber: PagedListSettings.PageNumber);
    }
}
