.list-entries{
    display: grid;
    grid-template-columns: 6fr 2fr 2fr 2fr 2fr 2em;
}

.list-entries *{
    padding: 0.5em;
    border: 1px solid #ccc;
}
.header{
    background-color: grey;
    color: white;
}
