@using Microsoft.Extensions.Primitives
@inherits PagedSearchViewer<SearchResultListEntry>
@inject IFetchSearchService FetchSearchService
<HeadContentSetter Title=@Title SiteName=@SiteName Description=@Description />
@if (ListEntries is null) {
    <div>Loading search results...</div>
}
else{
    <TeaserListViewer ListEntries="ListEntries" PagedListSettings="PagedListSettings" SelectPage="SelectPage"/>
}
@code {

    protected override int PageSize => 25;

    protected override string Title => $"Search";

    protected override string Description => "";

    protected override void SetPagedListSettings(Dictionary<string, StringValues> parsedQuery)
    {
    }

    protected override async Task<IPagedList<SearchResultListEntry>> GetListEntriesAsync()
    {
        return await FetchSearchService.FetchSearch(
            userId: User.Id, 
            tenantId: Tenant.Id, 
            pageSize: PagedListSettings.PageSize, 
            pageNumber: PagedListSettings.PageNumber, 
            searchString: PagedListSettings.SearchTerm!);
    }
}
