@if (Model is not null && Model.Any())
{
    <div class="section">
        <h3>Subdivisions</h3>
        @foreach (var subdivisionType in Model)
        {
            <div>
                @subdivisionType.Name
            </div>
            <ul>
                @foreach (var subdivision in subdivisionType.Subdivisions)
                {
                    <li>
                        <a href="@subdivision.Path">@subdivision.Title</a>
                    </li>
                }
            </ul>
        }
    </div>
}
@code{
    [Parameter]
    [EditorRequired]
    public IEnumerable<CountrySubdivisionType>? Model { get; set; }
}
