@using PoundPupLegacy.ViewModel.Models
@inherits SimpleNameableViewerBase<SubdivisionType>
<SimpleNameableViewer Model="Model" Description="Description">
    @foreach (var country in Model.Subdivisions.GroupBy(x => x.Country).OrderBy(x => x.Key.Title)) {
        <div>
            <h3><a href="@country.Key.Path">@country.Key.Title</a></h3>
        </div>
        <ul>
            @foreach (var subdivision in country.OrderBy(x => x.Title)) {
                <li>
                    <a href="@subdivision.Path">@subdivision.Title</a>
                </li>
            }
        </ul>
        
    }
</SimpleNameableViewer>
@code{
    [Parameter]
    [EditorRequired]
    public override SubdivisionType Model { get; set; } = default!;

}