.group-list{
    display: grid;
    grid-template-columns: 6fr 1fr 9em 9em 2em;
    width:100%;
    margin-top:1em;
}

.group-list > * {
    padding: 0.5em;
    border: 1px solid #ccc;
}

.header{
    background-color: grey;
    color: white;
}
.create-options{
    margin-top: 1em;
    display:flex;
    flex-direction:row;
    width: 100%;
    flex-wrap:wrap;
}
.create-options a{
    margin-right:1em;
}