@if (@Tags.Any()) {
    <div class="tags">
        @foreach (var tag in @Tags) {
            <span class="tag"><a href="@tag.Path">@tag.Title</a></span>
        }
    </div>
}
@code {
    [Parameter]
    [EditorRequired]
    public Link[] Tags { get; set; } = Array.Empty<Link>();
}
