@if (@Tags.Any()) {
    <div class="tags">
        
        @foreach (var nodeTypeTags in @Tags.GroupBy(x => x.NodeTypeName)) { 
            <LabeledLinkListViewer Links="@nodeTypeTags" Label="@nodeTypeTags.Key" />
        }
    </div>
}
@code {
    [Parameter]
    [EditorRequired]
    public TagListEntry[] Tags { get; set; } = Array.Empty<TagListEntry>();

}
