.teaser-list-element {
    padding-bottom: 1.5em;
    border-bottom: solid thin var(--teaser-list-element-border-color);
    clear: both;
    block-size: fit-content;
}

.teaser-list-element:last-of-type {
    border-bottom: 0;
}

.details{
    margin-bottom: 1em;
}