@if (ListEntries.Any()) {
    <div class="teaser-list">
        @ChildContent
        @foreach (var entry in ListEntries) 
        {
            <TeaserListEntryViewer ListEntry="entry" />
        }
    </div>
    <Pager Model="@PagedListSettings" SelectPage="SelectPage" />
}

@code {
    [Parameter]
    [EditorRequired]
    public TeaserListEntry[] ListEntries { get; set; } = Array.Empty<TeaserListEntry>();

    [Parameter]
    [EditorRequired]
    public PagedListSettings PagedListSettings { get; set; } = default!;

    [Parameter]
    [EditorRequired]
    public Func<int, Task> SelectPage { get; set; } = default!;

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}
