@if (ListEntries.Any()) {
    <ArticleViewer>
        @ChildContent
        <div class="teaser-list">
            @foreach (var entry in ListEntries) 
            {
                <TeaserListEntryViewer ListEntry="entry" />
            }
        </div>
        <Pager Model="@PagedListSettings" SelectPage="SelectPage" />
    </ArticleViewer>
}

@code {
    [Parameter]
    [EditorRequired]
    public required TeaserListEntry[] ListEntries { get; init; }

    [Parameter]
    [EditorRequired]
    public required PagedListSettings PagedListSettings { get; init; }

    [Parameter]
    [EditorRequired]
    public required Func<int, Task> SelectPage { get; init; }

    [Parameter]
    public RenderFragment? ChildContent { get; init; }
}
