.watermark {
    height: 0;
    overflow: visible;
    color: var(--watermark-color);
    font-size: 4em;
    line-height: 1;
    font-family: Impact,"Arial Narrow",Helvetica,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    word-wrap: break-word;
}
