@page "/"
@using PoundPupLegacy.ViewModel
@inject HttpClient Http

<PageTitle>Index</PageTitle>
@if (user == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if(user is not null)
    {
        <h1>Hello, @user.Name</h1>

        @((MarkupString)@user.AnimalWithin)

        
    }
}

@code {
    private User? user;

    protected override async Task OnInitializedAsync()
    {
        user = await Http.GetFromJsonAsync<User>("Home");
    }
}

