@using PoundPupLegacy.Admin.View
@using PoundPupLegacy.Admin.UI.Services
@inherits ViewerBase
@inject ITenantRetrieveService tenantRetrieveService

@if(Tenant is not null) {
    <div class="editor-form">
    <h1>Site administration</h1>
    <EditForm EditContext="@editContext" OnSubmit="@Submit">

        <div class="form-group">
            <label for="domain-name">Domain name</label>
            <InputText @bind-Value="Tenant.DomainName" id="domain-name" type="text" maxlength="255" />
        </div>
        <div class="form-group">
            <label for="css-file">CSS file</label>
            <InputText @bind-Value="Tenant.CssFile" id="css-file" type="text" maxlength="255" />
        </div>
        <div class="form-group">
            <label for="subtitle">Subtitle</label>
            <InputText @bind-Value="Tenant.Subtitle" id="subtitle" type="text" maxlength="255" />
        </div>
        <div class="form-group">
            <label for="logo">Logo</label>
            <InputText @bind-Value="Tenant.Logo" id="logo" type="text" maxlength="255" />
        </div>
        <div class="form-group">
            <label for="footer-editor">Text</label>
            <CKEditor Id="footer-editor" @bind-Value="@Tenant.FooterText" />
        </div>
        <div class="form-group">
            <label for="header-editor">Text</label>
            <CKEditor Id="header-editor" @bind-Value="@Tenant.FrontPageText" />
        </div>

    <UserRoleEditor UserRoles="Tenant.UserRoles" />
        </EditForm>
    </div>
}

@code {
    private Tenant? Tenant { get; set; } 

    private EditContext? editContext;
    private ValidationMessageStore? validationMessageStore;


    protected override async Task OnInitializedAsync()
    {
        Tenant = await tenantRetrieveService.GetTenant(TenantId);
        editContext = new EditContext(Tenant!);
        validationMessageStore = new ValidationMessageStore(editContext);

    }
    public async Task Submit()
    {
        await Task.CompletedTask;
    }
}
