@page "/abuse-cases-map"
@using PoundPupLegacy.ViewModel.Models
@using PoundPupLegacy.ViewModel.UI.Services
@inherits ViewerBase
@inject IJSRuntime JSRuntime
@inject IFetchAbuseCasesMapService FetchAbuseCasesMapService
<div>
<h3 style="display: block;">Abuse cases map</h3>
<div id="map" style="height: 700px;width:1200px;"></div>
</div>
@code {


    
    protected override async Task OnAfterRenderAsync(bool ja)
    {
        var Model = await FetchAbuseCasesMapService.FetchCasesMap(Tenant.Id, User.Id);
        
        if (Model is not null && Model.Any()) {
            var locations = Model.Select((location, index) => new object[] { location.Latitude, location.Longitude, location.Path, location.Title, index}).ToArray();
            await JSRuntime.InvokeVoidAsync("initMap", locations.ToList());
        }
    }

}
