@page "/"
@using PoundPupLegacy.Components
@inherits Page
@if (CanAccessPage)
{
    <div class="breadcrum">&nbsp;</div>
    <article>
        <p>Welcome to Pound Pup Legacy</p>
    </article>
}
else {
    <NoAccess />
}
