@page "/"
@using PoundPupLegacy.Components
@inherits Page

<BreadCrumElementViewer Model="BreadCrumElements"/>
<ArticleViewer>
    <p>Welcome to Pound Pup Legacy</p>
</ArticleViewer>
@code{
    private Link[] BreadCrumElements { get; set; } = Array.Empty<Link>();
}
