<div class="my-component">
    <select @onchange="Choose" />
    This component is defined in the <strong>RazorClassLibrary2</strong> library.
</div>
@code {
    private void Choose(ChangeEventArgs changeEventArgs)
    {

    }

}
