.editor-section {
    background-color: var(--editor-element-background);
    margin-top: 1em;
    padding:0;
    border-top: solid thin #ccc;
    border: solid 2px var(--editor-header-background);
    border-radius: 5px;
    box-shadow: var(--input-shadow);
}
h4 {
    background-color: var(--editor-header-background);
    padding: 0.25em 0 0.25em 0.25em;
    margin: 0 0 0.5em 0;
}


.file-upload {
    display: block;
    width: 8em;
    padding: 0.5em 1em;
    font-size: 90%;
    margin-left: 0.25em;
    margin-bottom: 0.25em;
    border: 0;
    background-color: var(--button-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.file-upload:hover {
    background-color: var(--button-hover-color);
}

.error {
    background-color: #662222;
    color: red;
}
.files{
    margin-top:0.5em;
}
.file {
    display: grid;
    grid-template-columns: 5fr 2fr 1fr 6em;
    padding: 0.5em;
    border-top: solid 1px #ccc;
    vertical-align: central;
}

.file div{
    padding-top: 0.25em;
}
button {
    padding: 0.5em 1em;
    border: 0;
    background-color: var(--button-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--button-hover-color);
}
