.file-upload {
    display: block;
    width: 8em;
    padding: 0.5em 1em;
    font-size: 90%;
    margin-top: 1em;
    margin-bottom: 0.25em;
    border: 0;
    background-color: var(--button-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.file-upload:hover {
    background-color: var(--button-hover-color);
}

.error {
    background-color: #662222;
    color: red;
}

.files {
    display: grid;
    grid-template-columns: 5fr 2fr 1fr 1fr;
}

.editor-section {
    margin-top: 1em;
    background-color: var(--editor-element-background);
    padding-left: 0.25em;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    border: solid 2px var(--editor-border-color);
    border-radius: 5px;
    box-shadow: var(--input-shadow);
}
.editor-section h4{
    margin:0;
    padding:0;
}