.case-party-types-case-parties {
    background-color: var(--editor-element-background);
    margin-top: 1em;
    border-top: solid thin #ccc;
    border: solid 2px var(--editor-header-background);
    border-radius: 5px;
    box-shadow: var(--input-shadow);
}

h4 {
    background-color: var(--editor-header-background);
    padding: 0.25em 0 0.25em 0.25em;
    margin: 0 0 1em 0;
}

