@using PoundPupLegacy.EditModel
@inherits EditorDetailBase
<div class="case-details">
    <h4>Case details</h4>
    <div class="field-group">
        <label>Date</label>
        <div>
            <FuzzyDateEditor @bind-Value="CaseDetails.Date" />
        </div>
    </div>
    <CaseCasePartiesEditor Model="CaseDetails.CasePartyTypesCaseParties" />
</div>
@code {
    [Parameter]
    [EditorRequired]
    public CaseDetails CaseDetails { get; set; } = default!;

    public override void OnTitleChange(string title)
    {
    }

    public override async Task<List<System.ComponentModel.DataAnnotations.ValidationResult>> Validate()
    {
        return await Task.FromResult(new List<System.ComponentModel.DataAnnotations.ValidationResult>());
    }

}
