@using PoundPupLegacy.EditModel
<div class="case-party-types-case-parties">
<h4>Persons and organizations involved in the case</h4>
@foreach(var elem in Model) {
    <CaseCasePartyEditor Model="elem" />
}
</div>

@code {
    [Parameter]
    [EditorRequired]
    public List<CasePartyTypeCaseParties> Model { get; set; } = new List<CasePartyTypeCaseParties>();


}
