@using PoundPupLegacy.EditModel
<div>
    <CaseCasePartiesEditor Model="CaseDetails.CasePartyTypesCaseParties" />
</div>
@code {
    [Parameter]
    [EditorRequired]
    public CaseDetails CaseDetails { get; set; } = default!;
}
