@inherits ViewerBase
@inject IDocumentableDocumentsSearchService searchService

@if(Elems is not null && NodeId is not null)
{
    <style>
        #tag-search{
            display: block;
            width: 20%;
            font-size: 125%;
            outline-color: cadetblue;
            margin-top: 0.5em;
            margin-bottom:0.25em;
            padding-left: 0.15em;
            padding-right: 0.15em;
        }
        .term-options{
            background-color: white;
            position: absolute;
            max-height: 10em;
            border-left: 1px solid grey;
            border-right: 1px solid grey;
            overflow-x: hidden;
            overflow-y: auto;
            z-index: 10;
            min-width:20%;
            padding-left: 0.15em;
            padding-right: 0.15em;
        }
        .term-option{
            border-bottom: 1px solid grey;
            cursor: pointer;
        }

        .tag-elements{
            width: fit-content;
            display: grid;
            grid-template-columns: auto 1em;
            margin-bottom: 0.5em;
        }
        .tag-element{
            user-select: none;
            padding-right: 0.5em;
            min-width: 15em;
            border-bottom: 1px solid grey;
        }

        .close {
            font-size: 100%;
            font-weight: 600;
            cursor: pointer;
            border-bottom: 1px solid grey;
        }

        .close:hover {
            font-size: 90%;
            font-weight: normal;
        }

        .tag-elements div:nth-last-child(-n + 2) {
            border-bottom: 0;
        }

    </style>
    <input id="tag-search" @bind="@documentableSearch" @oninput="OnSetTopicSearch" />

    @if (options.Any())
    {
        <div class="term-options">
        @foreach (var elem in options)
        {
            <div class="term-option" @onclick="() => SelectDocumentable(elem.DocumentableId)">@elem.Title</div>
        }
        </div>
    }
    @if (Elems.Any())
    {
        <div class="tag-elements">
        @foreach (var elem in Elems)
        {

            if (!elem.HasBeenDeleted)
            {
                <div class="tag-element">@elem.Title</div>
                <div class="close" @onclick="() => SetDocumentableToDeleted(elem.DocumentableId)">&times;</div>
            }

        }
        </div>
    }
}

@code {
    [Parameter]
    [EditorRequired]
    public List<DocumentableDocument>? Elems { get; set; }

    [Parameter]
    [EditorRequired]
    public required int? NodeId { get; init; }

    List<DocumentableDocument> options = new();

    string documentableSearch { get; set; } = "";

    private void SelectDocumentable(int documentableId)
    {
        var tag = options.FirstOrDefault(x => x.DocumentableId == documentableId);
        if (tag is not null && Elems is not null)
        {
            var elem = Elems.FirstOrDefault(x => x.DocumentableId == documentableId);
            if (elem is null)
            {
                Elems.Add(tag);
            }
            else
            {
                elem.HasBeenDeleted = false;
            }
        }
        options.Clear();
        documentableSearch = "";
        StateHasChanged();

    }

    private async Task OnSetTopicSearch(ChangeEventArgs args)
    {
        options.Clear();
        var searchString = args.Value?.ToString() ?? string.Empty;
        if (!string.IsNullOrEmpty(searchString) && NodeId is not null)
        {
            options = await searchService.GetDocumentableDocuments(
                nodeId: NodeId.Value, 
                userId: UserId, 
                tenantId: TenantId, 
                searchString: searchString);
        }
        StateHasChanged();
    }

    private void SetDocumentableToDeleted(int documentableId)
    {

        if (Elems is not null)
        {
            var elem = Elems.FirstOrDefault(x => x.DocumentableId == documentableId);
            if (elem is not null)
            {
                if (elem.IsStored)
                {
                    elem.SetToDeleted();
                }
                else
                {
                    Elems.Remove(elem);
                }
                StateHasChanged();
            }
        }
    }
}
