.relations-editor {
    background-color: var(--editor-element-background);
    margin-top: 1em;
    border-top: solid thin #ccc;
    border-radius: 5px;
    border: solid 2px var(--editor-header-background);
    box-shadow: 3px 3px 2px 1px rgba(20, 20, 20, .25);
}

.relations {
    display: grid;
    grid-template-columns: 3fr 3fr 2fr 1fr 1fr 4em 5em;
}
h4 {
    background-color: var(--editor-header-background);
    padding: 0.25em 0 0.25em 0.25em;
    margin: 0;
}

.header {
    
    padding-bottom: 1em;
}
.first{
    padding-left: 0.5em;
}
.grid-header {
    background-color: var(--editor-secondary-header-background);
    padding: 0.25em;
}

button {
    margin: 0.25em;
    padding: 0.5em 1em;
    border: 0;
    background-color: var(--button-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: var(--button-hover-color);
}
.row.deleted {
    background-color: var(--editor-deleted-row-background);
}

.row.deleted.first::after {
    content: "removed";
    color: rgba(3,3,3,0.4);
    font-size: 200%;
    position: absolute;
    left: 4em;
    z-index: 1;
    transform: rotate(-3deg);
}

