@inject ILocationService LocationService
@inject IJSRuntime JSRuntime
<SearchItemEditor 
    T="PersonListItem" 
    IsMandatory="true"
    @bind-Value="Relation.PersonFrom" 
    EnableEdit="!ThisPersonIsFrom" 
    Label="Person from"/>

<div class="type-and-swap">
    <div>
        <label for="relation-type">Relation type</label>
        <select id="relation-type" @onchange="OnChangeType">
            @foreach (var relationType in RelationTypes.OrderBy(x => x.Name)) {
                @if (relationType.Id == RelationType.Id) {
                    <option selected value="@relationType.Id">@relationType.Name</option>
                }
                else {
                    <option value="@relationType.Id">@relationType.Name</option>
                }
            }
        </select>
    </div>
    @if (!RelationType.IsSymmetric) {
        <button type="button" @onclick="Swap">Swap To/From</button>
    }

</div>
<SearchItemEditor 
    T="PersonListItem"
    IsMandatory="true"
    @bind-Value="Relation.PersonTo" 
    EnableEdit="ThisPersonIsFrom" 
    Label="Person to"/>
<SearchItemEditor T="DocumentListItem"
    IsMandatory="false"
    @bind-Value="Relation.ProofDocument"
    EnableEdit="true"
    Label="Proof document" />
<div class="form-group">
    <label>Description</label>
    <CKEditor Id="relation-editor" @bind-Value="Relation.Description" />
</div>
<div class="form-group">
    <label>Start date</label>
    <InputDate @bind-Value="Relation.DateFrom" />
</div>
<div class="form-group">
    <label>End date</label>
    <InputDate @bind-Value="Relation.DateTo" />
</div>
@code {

    [Parameter]
    public InterPersonalRelation Relation { get; set; } = default!;

    [Parameter]
    public EventCallback<InterPersonalRelation> RelationChanged { get; set; } = default!;

    [Parameter]
    [EditorRequired]
    public int? PersonId { get; set; } = default!;

    [Parameter]
    [EditorRequired]
    public List<InterPersonalRelationTypeListItem> RelationTypes { get; set; } = default!;

    private bool ThisPersonIsFrom = true;

    private InterPersonalRelationTypeListItem RelationType { get; set; } = default!;

    protected override void OnInitialized()
    {
        if (PersonId is not null) {
            ThisPersonIsFrom = PersonId == Relation.PersonFrom.Id;
        }
        RelationType = RelationTypes.First(x => x.Id == Relation.InterPersonalRelationType.Id);
    }

    private void Swap()
    {
        var tmp = Relation.PersonFrom;
        Relation.PersonFrom = Relation.PersonTo;
        Relation.PersonTo = tmp;
        ThisPersonIsFrom = !ThisPersonIsFrom;
        StateHasChanged();
    }

    private void OnChangeType(ChangeEventArgs args)
    {
        if(args.Value is not null && args.Value is string str) {
            if(int.TryParse(str, out var typeId)) {
                RelationType = RelationTypes.First(x => x.Id == typeId);
                StateHasChanged();
            }
        }
    }
}

