button {
    padding: 0.5em 1em;
    margin-left: 0.25em;
    border: 0;
    background-color: var(--button-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: var(--button-hover-color);
}
.locations {
    display: grid;
    grid-template-columns: 3fr 3fr 1fr 2fr 2fr 3fr 4em;
    padding-bottom: 0.5em;
    
}
.header {
    padding-left: 0.25em;
}
.item {
    padding:0.25em;
    border-bottom: solid 1px var(--editor-border-color);
}

.editor-section {
    margin-top: 1em;
    background-color: var(--editor-element-background);
    padding-bottom: 0.25em;
    border: solid 2px var(--editor-border-color);
    border-radius: 5px;
    box-shadow: var(--input-shadow);
}

h4 {
    margin: 0;
    padding: 0;
    padding: 0.25em;
    background-color: var(--editor-header-background);
}

.header {
    background-color: var(--editor-header-background);
}
