@inherits EditorDetailBase
@inject ITopicSearchService topicSearchService
<ValidationMessage For="@(() => Model.Description)" />
<label for="editor">Description</label>
<CKEditor Id="Description" @bind-Value=@Model.Description />

@code {
    [Parameter]
    [EditorRequired]
    public NameableDetails Model { get; set; } = default!;

    public override async Task<List<System.ComponentModel.DataAnnotations.ValidationResult>> Validate()
    {
        var errors = new List<System.ComponentModel.DataAnnotations.ValidationResult>();
        if (Model is not null) {
            if (await topicSearchService.DoesTopicExist(Model.Name))
            {
                var component = new System.ComponentModel.DataAnnotations.ValidationResult("Title should be unique.", new [] { Model.Description });
                errors.Add(component);
            }
        }
        return await Task.FromResult(errors);
    }

    public override void OnTitleChange(string title)
    {
        Model.Name = title;
    }
}
