@inherits EditorBase
@inject ITopicSearchService topicSearchService
<label for="editor">Description</label>
<CKEditor Id="editor" @bind-Value=@Model.NameableDetails.Description />

@code {
    [Parameter]
    [EditorRequired]
    public Nameable Model { get; set; } = default!;

    public override async Task Validate(ValidationMessageStore validationMessageStore, List<string> invalidIds)
    {
        if (Model is not null) {
            if (await topicSearchService.DoesTopicExist(Model.NodeDetails.Title)) {
                validationMessageStore!.Add(() => Model.NodeDetails.Title, "Title should be unique.");
                invalidIds.Add("title");
            }
        }
    }
    public override void OnTitleChange(string title)
    {

    }

}
