@inherits EditorDetailBase
@inject ITopicSearchService topicSearchService
<label for="editor">Description</label>
<CKEditor Id="editor" @bind-Value=@Model.Description />

@code {
    [Parameter]
    [EditorRequired]
    public NameableDetails Model { get; set; } = default!;

    public override async Task<List<ErrorDetail>> Validate()
    {
        var errors = new List<ErrorDetail>();
        if (Model is not null) {
            errors.Add(new ErrorDetail
            {
                Id = "title",
                Message = "Title should be unique."
            });
        }
        return await Task.FromResult(errors);
    }

    public override void OnTitleChange(string title)
    {
    }
}
