@inherits EditorDetailBase
<div class="form-group">
    <label for="title">Title</label>
    <InputText @bind-Value="Model.Title" id="title" class="title-editor" type="text" @oninput="OnTitleChange" />
    <ValidationMessage For="@(() => Model.Title)" />
</div>
@Top
<TagsEditor NodeTypesTags="Model.Tags.ToList()" />
@Middle
<TenantNodesEditor NodeDetails="@Model" />
<AttachmentEditor Files="Model.Files"/>
@Bottom
@code {
    [Parameter]
    [EditorRequired]
    public NodeDetails Model { get; set; } = default!;

    [Parameter]
    public RenderFragment? Top { get; set; } 

    [Parameter]
    public RenderFragment? Middle { get; set; }

    [Parameter]
    public RenderFragment? Bottom { get; set; }

    [Parameter]
    public Action<string> OnTitleChanged { get; set; } = default!;

    public void OnTitleChange(ChangeEventArgs args)
    {
        if(args.Value is string str) {
            OnTitleChanged(str);
        }
    }

    public override void OnTitleChange(string title)
    {
    }

    public override async Task<List<System.ComponentModel.DataAnnotations.ValidationResult>> Validate()
    {
        return await Task.FromResult(new List<System.ComponentModel.DataAnnotations.ValidationResult>());
    }
}
