@typeparam TCreateModel where TCreateModel: class, ResolvedNewNode
@typeparam TUpdateModel where TUpdateModel: class, ExistingNode
@typeparam TResolveData
@inject IJSRuntime JSRuntime
@inject IEntitySaveService<TUpdateModel, TCreateModel> editService
@inject NavigationManager NavigationManager
<div class="editor-form">
    <h1>@Title</h1>
    <EditForm EditContext="@editContext" OnSubmit="@Submit">
        <ObjectGraphDataAnnotationsValidator />
        @ChildContent
        <button type="submit">Submit</button>
    </EditForm>
</div>
@code {
    [Parameter]
    [EditorRequired]
    public Resolver<TUpdateModel, TCreateModel, TResolveData> Model { get; set; } = default!;

    [Parameter]
    [EditorRequired]
    public Func<Task<ValidationResult<TUpdateModel, TCreateModel>>> OnValidationResult { get; set; } = default!;

    [Parameter]
    [EditorRequired]
    public string Title { get; set; } = default!;

    [Parameter]
    [EditorRequired]
    public RenderFragment? ChildContent { get; set; }


    private EditContext? editContext;
    private ValidationMessageStore? validationMessageStore;

    protected override void OnInitialized()
    {
        editContext = new EditContext(Model);
        validationMessageStore = new ValidationMessageStore(editContext);
    }

    public async Task Submit()
    {
        await (await OnValidationResult()).Match(
            async success => await Save(success),
            async error => await HandleErrors(error)
        );
    }
    private async Task Save(ValidationResult<TUpdateModel, TCreateModel>.Success success)
    {
        var nodeId = await success.Node.Match(
            async update => await editService.SaveAsync(update),
            async create => await editService.SaveAsync(create)
        );
        NavigationManager.NavigateTo($"/node/{nodeId}", true);
    }
    private async Task HandleErrors(ValidationResult<TUpdateModel, TCreateModel>.Error error)
    {
        await Task.CompletedTask;
        if(editContext is not null && validationMessageStore is not null){
            foreach (var e in error.Errors.Where(x => x.ErrorMessage != null)) {
                
                foreach(var member in e.MemberNames) {
                    var fi = editContext.Field(member);
                    validationMessageStore.Add(fi, e.ErrorMessage!);
                }
                
            }
        }
    }
}

