@inherits EditorBase
<div class="form-group">
    <label>Organization types</label>
    <OrganizationOrganizationTypesEditor Model="Model" />
</div>
<div class="form-group">
    <label>Established</label>
    <FuzzyDateEditor @bind-Value=" Model.Establishment" />
</div>
<div class="form-group">
    <label>Terminated</label>
    <FuzzyDateEditor @bind-Value="Model.Termination" />
</div>
<InterOrganizationalRelationsEditor 
    Relations="Model.InterOrganizationalRelations" 
    RelationTypes="Model.InterOrganizationalRelationTypes" 
    OrganizationId="Model.NodeId"/>
<PartyPoliticalEntityRelationsEditor 
    Relations="Model.PartyPoliticalEntityRelations"
    RelationTypes="Model.PartyPoliticalEntityRelationTypes" />
<PersonOrganizationRelationsEditor 
    IsPersonLeading = "false"
    Relations="Model.PersonOrganizationRelations"
    RelationTypes="Model.PersonOrganizationRelationTypes" />

@code {
    [Parameter]
    [EditorRequired]
    public Organization Model { get; set; } = default!;

    public override async Task Validate(ValidationMessageStore validationMessageStore, List<string> invalidIds)
    {
        await Task.CompletedTask;
    }
}
