.person-fields {
    background-color: var(--editor-element-background);
    margin-top: 1em;
    border-top: solid thin #ccc;
    border-radius: 5px;
    border: solid 2px var(--editor-header-background);
    box-shadow: 3px 3px 2px 1px rgba(20, 20, 20, .25);
}
h4 {
    background-color: var(--editor-header-background);
    padding: 0.25em 0 0.25em 0.25em;
    margin: 0;
}
.form-group {
    padding-top: 0.25em;
    padding-left: 0.25em;
    display: block;
    margin-bottom: 0.5em;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr 3fr 3fr;
}

    .form-group label {
        font-weight: bold;
    }

label::after {
    content: ":";
}
