@inherits EditorDetailBase
@if (Model is not null)
{
    <div class="form-group">
        <label for="editor">Text</label>
        <ValidationMessage For="@(() => Model.SimpleTextNodeDetails.Text)" />
        <CKEditor Id="editor" @bind-Value=@Model.SimpleTextNodeDetails.Text />
    </div>
}
@code {
    [Parameter]
    [EditorRequired]
    public SimpleTextNode Model { get; set; } = default!;

    public override async Task<List<ErrorDetail>> Validate()
    {
        await Task.CompletedTask;
        var errors = new List<ErrorDetail>();
        if (Model is not null) {
            if (Model.SimpleTextNodeDetails.Text is null || Model.SimpleTextNodeDetails.Text == string.Empty) {
                errors.Add(new ErrorDetail { Message = "Text is required", Id = "editor" });
            }
        }
        return new List<ErrorDetail>();
    }
    public override void OnTitleChange(string title)
    {
    }

}
