@inherits EditorDetailBase
@if (Model is not null)
{
    <div class="form-group">
        <label for="editor">Text</label>
        <ValidationMessage For="@(() => Model.SimpleTextNodeDetails.Text)" />
        <CKEditor Id="editor" @bind-Value=@Model.SimpleTextNodeDetails.Text />
    </div>
}
@code {
        [Parameter]
        [EditorRequired]
        public SimpleTextNode Model { get; set; } = default!;

    public override async Task<List<System.ComponentModel.DataAnnotations.ValidationResult>> Validate()
    {
        await Task.CompletedTask;
        var errors = new List<System.ComponentModel.DataAnnotations.ValidationResult>();
        if (Model is not null) {
            if (Model.SimpleTextNodeDetails.Text is null || Model.SimpleTextNodeDetails.Text == string.Empty) {
                errors.Add(new System.ComponentModel.DataAnnotations.ValidationResult("Text is required", new[] { Model.SimpleTextNodeDetails.Text }));
            }
        }
        return errors;
    }
    public override void OnTitleChange(string title)
    {
    }

}
