@if (Model is not null)
{
    <div class="details">
        <CKEditor Id="#editor" @bind-Value=@Model.Text />
    </div>
}
@code {
    [Parameter]
    [EditorRequired]
    public SimpleTextNode Model { get; set; } = default!;

}
