label{
    font-weight: bold;
}
.tags {
    background-color: #e4e8f1;
}
.tag-search {
    display: block;
    width: 20%;
    font-size: 125%;
    outline-color: cadetblue;
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    padding-left: 0.15em;
    padding-right: 0.15em;
}

.node-type-group{
    border-bottom: solid thin #ccc;
    padding-top: 0.5em;
}

.term-selector {
    margin-bottom: 1em;
}

.term-options {
    background-color: white;
    position: absolute;
    max-height: 10em;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
    min-width: 20%;
    padding-left: 0.15em;
    padding-right: 0.15em;
    
}

.term-option {
    border-bottom: 1px solid grey;
    cursor: pointer;
}

.tag-elements {
    width: 100%;
}

.tag-element {
    display: grid;
    grid-template-columns: auto 10em;
    user-select: none;
    padding-right: 0.5em;
    min-width: 15em;
    background-color: #dae0ee;
    border-bottom: solid thin #eeeeee    
}

button {
    margin: 0.25em;
    padding: 0.5em 1em;
    border: 0;
    background-color: #6290fa;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}


.tag-elements div:nth-of-type(2n+1) {
    background-color: #f0f2f9;
}
