label{
    font-weight: bold;

}
label::after{
    content: ":";
}

.tag-search {
    display: block;
    width: 20%;
    font-size: 125%;
    outline-color: var(--input-outline-color);
    margin-top: 0.5em;
    margin-bottom: 0.25em;
    padding-left: 0.15em;
    padding-right: 0.15em;
}

.tag-search:focus {
    outline-color: var(--input-outline-focus-color);
}

.node-type-group {
    border-bottom: solid 1px var(--editor-border-color);
    padding-top: 0.5em;
}

.term-selector {
    margin-bottom: 1em;
    padding-left: 0.25em;
}

.term-options {
    background-color: white;
    position: absolute;
    max-height: 10em;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 10;
    min-width: 20%;
    padding-left: 0.15em;
    padding-right: 0.15em;
    
}

.term-option {
    border-bottom: 1px solid grey;
    cursor: pointer;
}

.tag-elements {
    width: 100%;
}

.tag-element {
    display: grid;
    grid-template-columns: auto 10em;
    user-select: none;
    padding-right: 0.5em;
    min-width: 15em;
    padding-top: 0.15em;
    padding-bottom: 0.15em;
    padding-left: 0.25em;
    background-color: #fde4c3;
}

button {
    margin: 0.25em;
    padding: 0.5em 1em;
    border: 0;
    background-color: var(--button-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
    background-color: var(--button-hover-color);
}

.tag-elements div:nth-of-type(2n+1) {
    background-color: #fbebd6;
}
