@inherits EditorDetailBase

@if(NodeTypesTags is not null)
{
    <div class="tags">
        <h4>Tags</h4>
        @foreach(var nodeTypeTags in NodeTypesTags) {
            <TagEditor NodeTypeTags="nodeTypeTags"/>
        }
    </div>

}

@code {
    [Parameter]
    [EditorRequired]
    public List<Tags>? NodeTypesTags { get; set; }

    public override void OnTitleChange(string title)
    {
        throw new NotImplementedException();
    }
    public override async Task<List<System.ComponentModel.DataAnnotations.ValidationResult>> Validate()
    {
        return await Task.FromResult(new List<System.ComponentModel.DataAnnotations.ValidationResult>());
    }
}
