.tags {
    background-color: var(--editor-element-background);
    margin-top: 1em;
    border-top: solid thin #ccc;
    border: solid 2px var(--editor-header-background);
    border-radius: 5px;
    box-shadow: var(--input-shadow);
}
