.tenant-node-editor {
    display: grid;
    grid-template-columns: 1fr 10fr 10fr 10fr 10fr;
    background-color: var(--editor-element-background);
    padding-bottom: 1em;
    margin-top: 1em;
    border: solid 2px var(--editor-border-color);
    border-radius: 5px;
    box-shadow: var(--input-shadow);
}
.header {
    background-color: var(--editor-header-background);
    margin-bottom: 1em;
}

input, select {
    outline-color: var(--input-outline-color);
}
input:focus, select:focus {
    outline-color: var(--input-outline-focus-color);
}
.item{
    margin-bottom:1em;
}
input[type=checkbox]{
    position: relative;
    top:-0.05em;
    width: 1.25em;
    height: 1.25em;
}

.domain-name {
}