@inherits EntityEditorBase<WrongfulMedicationCase.ToUpdate, WrongfulMedicationCase.ToCreate, Unit>
@if (Model is not null) {
    <NodeEditor TCreateModel="WrongfulMedicationCase.ToCreate"
                 TUpdateModel="WrongfulMedicationCase.ToUpdate"
                 TResolveData="Unit"
                 Model="Model"
                 OnValidationResult="() => Validate()"
                 Title="Edit coerced adoption case" Map="Map">
        <NodeDetailsEditor Model="WrongfulMedicationCase.NodeDetails" @ref=nodeDetailsEditor>
            <div></div>
        </NodeDetailsEditor>
    </NodeEditor>
}
@code {
    [Parameter]
    [EditorRequired]
    public WrongfulMedicationCase WrongfulMedicationCase { get; set; } = default!;

    protected override Resolver<WrongfulMedicationCase.ToUpdate, WrongfulMedicationCase.ToCreate, Unit> Model => WrongfulMedicationCase;

    private NodeDetailsEditor? nodeDetailsEditor;

    protected override List<EditorDetailBase?> DetailsEditors => new() {
        nodeDetailsEditor
    };
    protected override Unit ResolveData => Unit.Instance;
}
